@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-048.woff2") format('woff2');
  unicode-range: U+6e0c-6e0e, U+6e10-6e11, U+6e13-6e14, U+6e16-6e17, U+6e19-6e1b, U+6e1d, U+6e1f-6e26, U+6e28-6e29, U+6e2b-6e2d, U+6e2f-6e30, U+6e32, U+6e34, U+6e38-6e3a, U+6e3c, U+6e3e, U+6e43-6e45, U+6e49-6e4a, U+6e4d-6e4f, U+6e51, U+6e53-6e54, U+6e56, U+6e58, U+6e5b-6e5c, U+6e5e-6e5f, U+6e62-6e63, U+6e67, U+6e69, U+6e6b, U+6e6e-6e6f, U+6e72, U+6e7b-6e7c, U+6e7e-6e80, U+6e82-6e83, U+6e85-6e89, U+6e8c, U+6e8e-6e90, U+6e96, U+6e98, U+6e9c-6e9d, U+6e9f-6ea0, U+6ea2, U+6ea5, U+6ea7, U+6eaa-6eab, U+6eae-6eaf, U+6eb1-6eb4, U+6eb6-6eb7, U+6eba;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-049.woff2") format('woff2');
  unicode-range: U+6ebb-6ebd, U+6ec1-6ec5, U+6ec7, U+6ecb-6ecc, U+6ece-6ecf, U+6ed1, U+6ed3-6ed5, U+6ed7, U+6ed9-6edb, U+6edd-6ee2, U+6ee4-6ee6, U+6ee8-6eec, U+6eef, U+6ef2, U+6ef4, U+6ef7-6ef9, U+6efb, U+6efd-6eff, U+6f01-6f02, U+6f06, U+6f08-6f0a, U+6f0f, U+6f11, U+6f13-6f15, U+6f18-6f1a, U+6f20, U+6f22-6f24, U+6f26, U+6f29-6f2d, U+6f2f, U+6f31-6f33, U+6f35-6f36, U+6f38, U+6f3e-6f41, U+6f44-6f47, U+6f4b, U+6f4d, U+6f51, U+6f54, U+6f58-6f59, U+6f5b-6f5c, U+6f5e-6f60, U+6f62;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-050.woff2") format('woff2');
  unicode-range: U+6f64, U+6f66, U+6f6d-6f70, U+6f72, U+6f74, U+6f77-6f78, U+6f7a, U+6f7c, U+6f7f-6f82, U+6f84, U+6f86-6f89, U+6f8c-6f8e, U+6f90-6f91, U+6f94, U+6f97, U+6f9b-6f9d, U+6f9f-6fa1, U+6fa3-6fa9, U+6fae, U+6fb1, U+6fb3, U+6fb6, U+6fb9, U+6fbc, U+6fbe, U+6fc0-6fc3, U+6fc6-6fc7, U+6fc9-6fca, U+6fd1-6fd3, U+6fd5, U+6fd8-6fd9, U+6fdb-6fdc, U+6fde-6fe1, U+6fe4, U+6fe9, U+6feb-6fec, U+6fee-6ff1, U+6ff3, U+6ff6, U+6ffa, U+6ffc, U+6ffe, U+7002, U+7005-7006, U+7009, U+700b, U+700d, U+700f, U+7011, U+7015, U+7018, U+701a-701b, U+701d-701f;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-051.woff2") format('woff2');
  unicode-range: U+7020-7021, U+7023, U+7026-7028, U+702c, U+7030, U+7032, U+7035, U+7039-703a, U+703c, U+703e, U+7043-7044, U+7049, U+704b-704c, U+704f, U+7051, U+7055, U+7058, U+705d-705e, U+7063-7064, U+7067-7069, U+706b-706d, U+706f-7070, U+7075-7076, U+7078, U+707c-7081, U+7085, U+7089-708a, U+708e, U+7092, U+7094-7096, U+7099, U+709c-709d, U+70a4, U+70ab-70af, U+70b1, U+70b3, U+70b7-70bd, U+70c0-70c3, U+70c8, U+70ca, U+70cf, U+70d6, U+70d8-70d9, U+70db, U+70dd, U+70df, U+70e4, U+70e6-70e9, U+70eb-70ed, U+70ef, U+70f4, U+70f7, U+70f9, U+70fd;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-052.woff2") format('woff2');
  unicode-range: U+7109-710a, U+7110, U+7113-7116, U+7118-711a, U+7121, U+7126, U+712f-7131, U+7136, U+713c, U+7145, U+7147, U+7149-714a, U+714c, U+714e, U+7151-7152, U+7156-7157, U+7159, U+715c, U+715e, U+7162, U+7164-7169, U+716c, U+716e, U+7172-7173, U+7178, U+717a, U+717d, U+7184, U+7188, U+718a, U+718f, U+7192, U+7194-7195, U+7197-7199, U+719f-71a0, U+71a8, U+71ac, U+71b1, U+71b3, U+71b5, U+71b9, U+71be, U+71c1, U+71c3-71c4, U+71c8-71c9, U+71ce, U+71d0, U+71d2, U+71d4-71d5, U+71d9, U+71dc, U+71df-71e0, U+71e5-71e7, U+71ec-71ee, U+71f4-71f5, U+71f9, U+71fb-71fc, U+71fe-71ff, U+7206, U+720d, U+7210, U+7215, U+7217, U+721b;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-053.woff2") format('woff2');
  unicode-range: U+721d, U+7228, U+722a, U+722c-722d, U+7230-7232, U+7235-723b, U+723d-7240, U+7246-7248, U+724c-724e, U+7250, U+7252-7253, U+7255-7256, U+7258-7259, U+725b, U+725d, U+725f-7262, U+7266-7267, U+7269, U+726e-726f, U+7272, U+7274-7275, U+7279-727a, U+727d-7282, U+7284, U+7287, U+728a-728b, U+728d, U+728f, U+7292, U+7296, U+729b, U+729f-72a0, U+72a2, U+72a7, U+72ac-72ad, U+72af-72b0, U+72b4, U+72b6-72b9, U+72bb, U+72c0-72c4, U+72c8, U+72cd-72ce, U+72d0, U+72d2, U+72d7, U+72d9, U+72de, U+72e0-72e1, U+72e5, U+72e8-72e9, U+72ec;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-054.woff2") format('woff2');
  unicode-range: U+72ed-72f4, U+72f7-72fd, U+7301-7303, U+730a, U+730e, U+7313, U+7315-7317, U+7319, U+731b-731f, U+7321-7322, U+7325, U+7328-732c, U+732e, U+7331, U+7334, U+7336-7339, U+733b, U+733e-733f, U+7341, U+7343-7345, U+734b, U+734d-734e, U+7350, U+7352, U+7357-7358, U+7360, U+7363, U+7368, U+736a-736d, U+736f-7370, U+7372, U+7375, U+7377-7378, U+737a-737c, U+737e, U+7380, U+7384-7387, U+7389-738b, U+738e, U+7391, U+7396, U+739b, U+739f, U+73a2, U+73a8-73a9, U+73ab, U+73ae-73b0;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-055.woff2") format('woff2');
  unicode-range: U+73b1-73b3, U+73b6-73b7, U+73ba-73bb, U+73c0, U+73c2, U+73c5, U+73c8-73ca, U+73cd-73d1, U+73d9, U+73de, U+73e0, U+73e5, U+73e7, U+73e9, U+73ed-73ee, U+73f2, U+73fe, U+7401, U+7403, U+7405-7406, U+7409-740a, U+740d-7410, U+7416, U+741a-741b, U+7422, U+7425-7426, U+7428, U+742a, U+742c, U+742e, U+7430-7431, U+7433-7436, U+7439-743a, U+743c, U+743f, U+7441, U+7447, U+744b, U+7455, U+7457, U+7459-745c, U+745e-7460, U+7463-7464, U+7469-746a, U+746d, U+746f-7470, U+7472, U+7476-7477, U+747e, U+7480-7481, U+7483, U+7487, U+7489, U+748b, U+748e, U+7490, U+749c, U+749e, U+74a1-74a3, U+74a6-74a7;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-056.woff2") format('woff2');
  unicode-range: U+74a8-74aa, U+74b0-74b1, U+74b5, U+74ba, U+74bd, U+74bf, U+74c8, U+74ca, U+74cc, U+74cf, U+74d2, U+74d4, U+74d8, U+74da, U+74dc, U+74de, U+74e0, U+74e2-74e4, U+74e6-74e7, U+74e9, U+74ee-74f2, U+74f4, U+74f6-74f8, U+74ff, U+7504-7505, U+750c-750f, U+7511, U+7513, U+7515-751a, U+751c, U+751e-751f, U+7522-7523, U+7525-7526, U+7528-752d, U+752f-7535, U+7537-7538, U+753a-753b, U+753d-7540, U+7542, U+7544-7548, U+754a-754c, U+754e-754f, U+7551, U+7554, U+7559-755d;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-057.woff2") format('woff2');
  unicode-range: U+7560, U+7562, U+7564-7568, U+756a-756c, U+756e, U+7570-7574, U+7576, U+7578-757a, U+757f, U+7582-7584, U+7586-7587, U+7589-758b, U+758e-758f, U+7591-7592, U+7594, U+7596-759a, U+759d, U+759f-75a1, U+75a3-75a5, U+75a9, U+75ab-75ac, U+75ae-75b5, U+75b8-75b9, U+75bc-75bf, U+75c2-75c5, U+75c7-75ca, U+75cd-75ce, U+75d0, U+75d2, U+75d4-75d6, U+75d8-75d9, U+75db, U+75de, U+75e2-75e4, U+75e6-75eb, U+75f0-75f4;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-058.woff2") format('woff2');
  unicode-range: U+75f9-75fa, U+75fc, U+75fe-7603, U+7605-7606, U+7609-760d, U+7610, U+7613, U+7615-7619, U+761b, U+761e-7622, U+7624-7627, U+7629-762b, U+762d-762e, U+7630, U+7633-7636, U+7638, U+763b-763c, U+763e-7640, U+7642-7649, U+764c-764e, U+7652, U+7654, U+7656, U+7658, U+765c, U+765e-765f, U+7661-7665, U+7667, U+7669-7672, U+7676, U+7678, U+767a-767e, U+7680-7684, U+7686;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-059.woff2") format('woff2');
  unicode-range: U+7687-7688, U+768b, U+768e, U+7690-7691, U+7693, U+7696, U+7699-769a, U+769c, U+76a4, U+76ae, U+76b0-76b2, U+76b4, U+76b7-76b8, U+76ba-76bb, U+76bf, U+76c2-76c3, U+76c5-76c8, U+76ca-76d2, U+76d4, U+76d6-76d8, U+76db-76dc, U+76de-76df, U+76e1, U+76e3-76e7, U+76e9-76ea, U+76ec-76ef, U+76f1-76f2, U+76f4, U+76f8-76f9, U+76fb-76fc, U+76fe, U+7701, U+7704, U+7707-770e, U+7718-771b, U+771e-7722, U+7725-7726, U+7728-7729, U+772d, U+772f, U+7731, U+7734-7738;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-060.woff2") format('woff2');
  unicode-range: U+773a, U+773c-773e, U+7740-7741, U+7743, U+7745-7747, U+774a, U+774d-7752, U+7756, U+775a-775c, U+775e-7763, U+7765-7766, U+7768, U+776a-776c, U+7779-777a, U+777d-7780, U+7784-7785, U+7787, U+778b-778e, U+7791-7792, U+7796, U+7798, U+779c, U+779e-77a0, U+77a2, U+77a5, U+77a7, U+77a9-77aa, U+77ac-77ad, U+77af-77b0, U+77b3, U+77b5-77b6, U+77bb-77bd, U+77bf, U+77c1, U+77c7, U+77c9, U+77cd, U+77d1, U+77d3, U+77d7, U+77d9-77dc, U+77de-77df, U+77e2-77e3, U+77e5-77e7, U+77e9, U+77eb-77f1;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-061.woff2") format('woff2');
  unicode-range: U+77f3-77f4, U+77f6, U+77f8, U+77fb-7802, U+7806, U+7809, U+780c-780d, U+7811-7812, U+7814-7818, U+781a, U+781c-781d, U+781f-7820, U+7822-7823, U+7825-7827, U+7829, U+782b-7830, U+7832-7834, U+7837-783c, U+783e-7840, U+7843, U+7845, U+7847, U+784c, U+784e-7850, U+7852, U+7855-7857, U+7859-785a, U+785c-785d, U+7864, U+7868, U+786a-786f, U+7872, U+7875, U+7877, U+787c, U+7881, U+7887, U+7889, U+788c-788f, U+7891, U+7893-7894, U+7897-789c, U+789e;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-062.woff2") format('woff2');
  unicode-range: U+789f, U+78a1, U+78a3, U+78a5, U+78a7, U+78a9-78aa, U+78ad, U+78af-78b4, U+78b8-78bc, U+78be, U+78c1, U+78c5, U+78c9-78cb, U+78d0-78d2, U+78d4-78d5, U+78d9-78db, U+78dd, U+78df-78e1, U+78e3, U+78e6-78e8, U+78ec, U+78ef, U+78f2, U+78f4, U+78f7, U+78fa-78fb, U+78fd-78fe, U+7901, U+7904-7905, U+790a, U+790c, U+790e, U+7912-7913, U+7919, U+791e, U+7924, U+7926-7927, U+792a-792c, U+792e, U+7931, U+7934, U+793a-7942, U+7945-7949, U+794e-7950, U+7953-7958, U+795a-795d;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-063.woff2") format('woff2');
  unicode-range: U+795e-7960, U+7962, U+7965, U+7967-7968, U+796b, U+796d, U+796f, U+7972, U+7977-7978, U+797a, U+797c, U+797f-7981, U+7984-7985, U+798a-798b, U+798d-798f, U+7993-7996, U+7998, U+799a-799b, U+79a1, U+79a6-79ab, U+79ae, U+79b0-79b1, U+79b3-79b4, U+79b8-79bb, U+79bd-79c1, U+79c3, U+79c6, U+79c8-79cd, U+79cf-79d2, U+79d4-79d6, U+79d8, U+79dd, U+79df, U+79e3-79e4, U+79e6-79e7, U+79e9, U+79eb-79ed, U+79ef-79f0, U+79f8, U+79fb, U+79fd, U+7a00, U+7a02-7a03, U+7a05-7a06, U+7a08-7a0e;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-064.woff2") format('woff2');
  unicode-range: U+7a0f, U+7a11, U+7a14, U+7a17-7a1a, U+7a1c, U+7a1e-7a20, U+7a23, U+7a2c-7a2e, U+7a31-7a33, U+7a37, U+7a39-7a40, U+7a42, U+7a44-7a49, U+7a4c-7a4f, U+7a51, U+7a57, U+7a5c-7a64, U+7a67-7a69, U+7a6b, U+7a6d, U+7a70, U+7a74-7a7a, U+7a7d, U+7a7f-7a81, U+7a83-7a86, U+7a88, U+7a8a, U+7a8d-7a8e, U+7a91-7a98, U+7a9c-7aa0, U+7aa3, U+7aa5-7aa6, U+7aa8-7aaa, U+7aac-7aae;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-065.woff2") format('woff2');
  unicode-range: U+7aaf-7ab0, U+7ab3, U+7ab5-7ab6, U+7ab8, U+7aba-7abb, U+7abe-7abf, U+7ac3-7ac5, U+7ac7-7ac8, U+7aca-7acb, U+7acd, U+7acf, U+7ad1, U+7ad3-7ad6, U+7ad9-7ada, U+7adc-7ae3, U+7ae5-7ae6, U+7aea-7aeb, U+7aed, U+7aef-7af0, U+7af6, U+7af8-7afa, U+7afd-7aff, U+7b03-7b04, U+7b06, U+7b08, U+7b0a-7b0b, U+7b0f, U+7b11, U+7b14-7b15, U+7b19, U+7b1b, U+7b1e, U+7b20, U+7b24-7b26, U+7b28, U+7b2a-7b2c, U+7b2e, U+7b31, U+7b33, U+7b35, U+7b38-7b3c, U+7b3e, U+7b45-7b47, U+7b49-7b4d, U+7b4f-7b54, U+7b56, U+7b58, U+7b5a;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-066.woff2") format('woff2');
  unicode-range: U+7b5b, U+7b5d-7b5e, U+7b60, U+7b62, U+7b64-7b67, U+7b69, U+7b6d-7b75, U+7b77-7b79, U+7b7b, U+7b7e, U+7b80, U+7b85-7b87, U+7b8b, U+7b8d-7b95, U+7b97, U+7b9c-7b9d, U+7ba0-7ba2, U+7ba6-7bad, U+7bb1-7bb2, U+7bb4, U+7bb8, U+7bc0-7bc1, U+7bc4, U+7bc6-7bc7, U+7bc9, U+7bcb-7bcc, U+7bd1, U+7bd3-7bd4, U+7bd9-7bdb, U+7bdd, U+7be0-7be1, U+7be4-7be6, U+7be8-7bea, U+7bed-7bee, U+7bf0-7bf3, U+7bf7, U+7bf9, U+7bfc, U+7bfe, U+7c00, U+7c03, U+7c07, U+7c09, U+7c0b-7c0d;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-067.woff2") format('woff2');
  unicode-range: U+7c0f, U+7c11-7c12, U+7c14, U+7c16-7c18, U+7c1e-7c21, U+7c23, U+7c26-7c28, U+7c2a-7c2b, U+7c2e, U+7c30, U+7c34, U+7c37-7c39, U+7c3b, U+7c3d-7c41, U+7c43, U+7c4c-7c4d, U+7c4f-7c52, U+7c56, U+7c59, U+7c5b-7c5d, U+7c5f-7c60, U+7c64-7c65, U+7c67-7c6a, U+7c6c, U+7c6e-7c70, U+7c72-7c76, U+7c78, U+7c7b-7c7e, U+7c81-7c83, U+7c87, U+7c89, U+7c8b, U+7c8d-7c8e, U+7c91-7c92, U+7c95, U+7c97-7c98, U+7c9b-7c9f, U+7ca2, U+7ca4-7ca8, U+7caa, U+7cad-7cae, U+7cb0-7cb3, U+7cb5, U+7cb9;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-068.woff2") format('woff2');
  unicode-range: U+7cba, U+7cbc-7cbe, U+7cc0-7cc1, U+7cc5, U+7cc7-7cca, U+7ccc-7cce, U+7cd2, U+7cd5-7cd9, U+7cdc-7ce2, U+7ce7-7ce8, U+7cef-7cf2, U+7cf4-7cf6, U+7cf8-7cfb, U+7cfe, U+7d00, U+7d02-7d0b, U+7d0d, U+7d10, U+7d13-7d1d, U+7d20-7d22, U+7d25, U+7d27, U+7d2b-7d2c, U+7d2e-7d33, U+7d39-7d3a, U+7d3c, U+7d3f-7d40, U+7d42-7d44, U+7d46, U+7d4c, U+7d4e-7d50, U+7d55, U+7d5b-7d5e;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-069.woff2") format('woff2');
  unicode-range: U+7d61-7d62, U+7d66, U+7d68, U+7d6e, U+7d70-7d73, U+7d75-7d77, U+7d79, U+7d81, U+7d83, U+7d86, U+7d88-7d89, U+7d8f, U+7d91, U+7d93, U+7d99-7d9c, U+7d9e, U+7da0, U+7da2-7da3, U+7da6, U+7dab-7dae, U+7db0-7db5, U+7db8-7dbb, U+7dbd-7dbf, U+7dc4, U+7dc7, U+7dca-7dcb, U+7dcf-7dd2, U+7dd4, U+7dd6-7dda, U+7ddc-7dde, U+7de0-7de1, U+7de3, U+7de5-7de6, U+7de8-7de9, U+7dec, U+7def, U+7df1-7df2, U+7df4, U+7df6, U+7df9, U+7dfb-7dfc, U+7dfe, U+7e01, U+7e04-7e05, U+7e08-7e0b, U+7e10-7e11, U+7e15, U+7e17, U+7e1a-7e1b, U+7e1d-7e1e;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-070.woff2") format('woff2');
  unicode-range: U+7e1f, U+7e23, U+7e26-7e27, U+7e2b, U+7e2d-7e2e, U+7e31-7e32, U+7e34-7e37, U+7e39, U+7e3b, U+7e3d-7e3e, U+7e41, U+7e43, U+7e45-7e47, U+7e4a-7e4b, U+7e4d, U+7e52, U+7e54-7e56, U+7e59-7e5a, U+7e5e, U+7e61-7e62, U+7e69-7e6b, U+7e6d-7e70, U+7e73, U+7e79, U+7e7b-7e7e, U+7e82-7e83, U+7e88, U+7e8a, U+7e8c-7e8d, U+7e8f-7e90, U+7e92-7e94, U+7e96, U+7e98, U+7e9b-7e9c, U+7e9f-7ead, U+7eaf-7eba, U+7ebc-7ec2;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-071.woff2") format('woff2');
  unicode-range: U+7ec3-7ee3, U+7ee5-7eeb, U+7eed-7ef8, U+7efa-7f25;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-072.woff2") format('woff2');
  unicode-range: U+7f26-7f36, U+7f38, U+7f3a, U+7f3d-7f3e, U+7f42, U+7f44-7f45, U+7f47-7f48, U+7f4b-7f4e, U+7f50-7f51, U+7f54-7f55, U+7f57-7f58, U+7f5a, U+7f5f-7f63, U+7f68-7f6a, U+7f6e, U+7f70-7f72, U+7f74-7f75, U+7f77-7f79, U+7f7e, U+7f81, U+7f85-7f86, U+7f88, U+7f8a-7f8c, U+7f8e, U+7f91, U+7f93-7f94, U+7f96-7f97, U+7f9a, U+7f9d-7f9f, U+7fa1-7fa5, U+7fa7-7fa9, U+7faf-7fb2, U+7fb4-7fb6, U+7fb8-7fb9, U+7fbc-7fbd, U+7fbf, U+7fc1, U+7fc4-7fc6;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-073.woff2") format('woff2');
  unicode-range: U+7fca, U+7fcc, U+7fce, U+7fd2, U+7fd4-7fd5, U+7fd8, U+7fda-7fdb, U+7fdf-7fe1, U+7fe3, U+7fe5-7fe6, U+7fe9, U+7feb-7fec, U+7fee, U+7ff0-7ff1, U+7ff3, U+7ff6, U+7ff9-8007, U+800b-8012, U+8014-8019, U+801c, U+801e, U+8020-8022, U+8025-802a, U+802c, U+802e, U+8030-8031, U+8033, U+8035-8038, U+803b-803d, U+803f, U+8042-8043, U+8046, U+804a-804d, U+8052, U+8054, U+8056, U+8058, U+805a, U+805e-805f, U+8061, U+8064, U+8069-806a, U+806f-8070;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-074.woff2") format('woff2');
  unicode-range: U+8071-8077, U+8079, U+807d-8080, U+8083-808c, U+808e-8090, U+8093, U+8096, U+8098, U+809a-809d, U+809f-80a2, U+80a4-80a5, U+80a7-80af, U+80b1-80b2, U+80b4, U+80b7-80b8, U+80ba, U+80bc-80c4, U+80c6, U+80ca, U+80cc-80ce, U+80d4, U+80d6-80d7, U+80d9-80de, U+80e0-80e1, U+80e4-80ed, U+80ef-80f4, U+80f6-80f7;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-075.woff2") format('woff2');
  unicode-range: U+80f8-80fa, U+80fc-80fe, U+8102-8103, U+8105-810a, U+810d-8114, U+8116-8118, U+811a-811b, U+811d-811e, U+8121, U+8123-8124, U+8127, U+8129, U+812b-812c, U+812e-8133, U+8136, U+8138-813a, U+813e, U+8141, U+8146, U+8148, U+814a-814c, U+814e, U+8150-8151, U+8153-8156, U+8158-815a, U+815f-8161, U+8165-8167, U+8169, U+816b, U+816d-8174, U+8177-8183, U+8186, U+8188, U+818a-818b;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-076.woff2") format('woff2');
  unicode-range: U+818f, U+8191, U+8193, U+8195, U+8197-81a0, U+81a3, U+81a6, U+81a8-81aa, U+81ac, U+81b0, U+81b3-81b5, U+81ba-81bb, U+81bd-81c4, U+81c6, U+81c8-81cd, U+81cf-81d1, U+81d3, U+81d5, U+81d7-81e0, U+81e2-81e8, U+81ea, U+81ec-81ed, U+81ef, U+81f2-81f4, U+81fa-81fc, U+81fe-820a, U+820c-820e, U+8210, U+8212, U+8214, U+8216-8218, U+821b;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-077.woff2") format('woff2');
  unicode-range: U+821c, U+821e-8223, U+8228-822d, U+822f-8239, U+823b, U+823e, U+8244-8245, U+8247, U+8249, U+824b, U+824e-824f, U+8257-825a, U+825e-825f, U+8262-8264, U+8266, U+8268, U+826a-826b, U+826d-8274, U+8276-827a, U+827d-827f, U+8282, U+8284, U+8288, U+828a-828b, U+828d-828f, U+8291-8292, U+8297-8299, U+829c-829d, U+829f, U+82a1, U+82a4-82a6, U+82a8-82b4, U+82b7;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-078.woff2") format('woff2');
  unicode-range: U+82b8-82b9, U+82bb, U+82bd-82be, U+82c1, U+82c4, U+82c6-82c8, U+82ca-82cf, U+82d1-82d5, U+82d7-82d8, U+82db-82dc, U+82de-82e1, U+82e3-82e7, U+82eb, U+82ef, U+82f1, U+82f4, U+82f7, U+82f9-82fb, U+8301-8309, U+830c, U+830e-8311, U+8313-8315, U+8317-8318, U+831a-831c, U+8327-8328, U+832b-832d, U+832f, U+8331-8336, U+8338-833a, U+833c, U+8340, U+8343, U+8345-8347, U+8349-834a, U+834d, U+834f-8352, U+8354, U+8358, U+835a-835b;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-079.woff2") format('woff2');
  unicode-range: U+835c, U+835e-8361, U+8363-836f, U+8373, U+8377-8378, U+837b-837d, U+8385-8386, U+8389-838a, U+838e, U+8392-8393, U+8396, U+8398, U+839b-839c, U+839e, U+83a0, U+83a2, U+83a7-83ab, U+83b0-83b4, U+83b6-83ba, U+83bc-83bd, U+83c0-83c1, U+83c5, U+83c7, U+83c9-83ca, U+83cc, U+83ce-83cf, U+83d1, U+83d3-83d4, U+83d6, U+83d8, U+83dc-83dd, U+83df-83e1, U+83e5, U+83e9-83ea, U+83ef-83f2, U+83f4, U+83f8-83f9, U+83fd, U+8401, U+8403-8404, U+8406-8407, U+840a-840f;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-080.woff2") format('woff2');
  unicode-range: U+8411, U+8418, U+841a, U+841c-841d, U+8420, U+8422, U+8424-8429, U+842c, U+8431-8432, U+8435, U+8438, U+843c-843d, U+8446, U+8449-844a, U+844e, U+8451-8452, U+8457, U+8459-845c, U+8460-8461, U+8463-8464, U+8466, U+8469, U+846b-846d, U+846f, U+8471, U+8473, U+8475-8478, U+847a, U+8482, U+8485, U+8487-8489, U+848b-848c, U+848e, U+8490, U+8493-8494, U+8497, U+8499, U+849c, U+849e-849f, U+84a1, U+84af, U+84b2, U+84b4, U+84b8-84bd, U+84bf-84c1, U+84c4, U+84c6, U+84c9-84cb, U+84cd, U+84d0-84d1, U+84d3, U+84d6, U+84d9, U+84dd, U+84df-84e1, U+84e3, U+84e5-84e6, U+84e8;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-081.woff2") format('woff2');
  unicode-range: U+84ec, U+84ee-84f0, U+84f4, U+84fc-84fd, U+84ff, U+8506, U+850c, U+8511, U+8513-8515, U+8517, U+851a, U+851e-851f, U+8521, U+8523, U+8525-8526, U+852b-852d, U+8534-8535, U+8537-853e, U+8541, U+8543, U+8546, U+8548-854b, U+854e, U+8552-8553, U+8555-8556, U+8558-855a, U+855e, U+8562, U+8564, U+8568-856a, U+856d, U+8572, U+8574, U+8577, U+8579-857b, U+857e-857f, U+8584-8585, U+8587-8588, U+858a, U+858c, U+858f-8591, U+8594, U+8599, U+859b-859c, U+859f, U+85a4, U+85a6, U+85a8-85b0, U+85b7, U+85b9-85ba, U+85c1, U+85c9, U+85cd;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-082.woff2") format('woff2');
  unicode-range: U+85ce-85d0, U+85d3, U+85d5, U+85dc-85dd, U+85e4-85e5, U+85e9-85ea, U+85ed, U+85f6-85f7, U+85f9-85fc, U+85ff-8600, U+8602, U+8604-8607, U+860a-860b, U+8610-8611, U+8613, U+8616-8617, U+861a, U+861d-861e, U+8622, U+8624, U+8627, U+8629, U+862d, U+8638, U+863a, U+863c, U+863f, U+864d-8651, U+8654-8656, U+8659-865c, U+865e-865f, U+8661-8662, U+8667, U+8669, U+866b-866c, U+866e-8671, U+8675, U+8679-8682, U+8687, U+868a-868d, U+8691, U+8693, U+8695-8696, U+8698, U+869c-869d, U+86a3-86a4, U+86a6-86a8;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-083.woff2") format('woff2');
  unicode-range: U+86a9-86ac, U+86af-86b1, U+86b3-86b6, U+86ba, U+86bf-86c0, U+86c4, U+86c6-86c7, U+86c9-86d1, U+86d4-86d5, U+86d8-86d9, U+86db, U+86de-86df, U+86e3-86e4, U+86e9, U+86ed-86f4, U+86f8-86fc, U+86fe, U+8700, U+8702-8703, U+8706-870b, U+870d-870e, U+8711-8713, U+8715-8718, U+871a, U+871c, U+871e, U+8721-8723, U+8725, U+8728-8729, U+872e, U+8730-8731, U+8734, U+8737, U+8739-873c, U+873e-8740, U+8743, U+8747-8749, U+874b-874d;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-084.woff2") format('woff2');
  unicode-range: U+874e, U+8753, U+8755, U+8757-8759, U+875d, U+875f-8761, U+8763-8766, U+8768, U+876e-8771, U+8774, U+8776, U+8778, U+877b-877e, U+8782-8785, U+8788, U+878b, U+878d-878e, U+8793, U+8797-8799, U+879e-879f, U+87a1-87a3, U+87a8, U+87ab-87af, U+87b3, U+87b5, U+87ba-87bb, U+87bd-87c1, U+87c4, U+87c6-87c8, U+87ca-87cb, U+87ce-87cf, U+87d1-87d3, U+87d5, U+87db-87dc, U+87df-87e0, U+87e2-87e3, U+87e5, U+87ea-87ec, U+87ee-87ef, U+87f2, U+87f5-87f6, U+87f9-87fb, U+87fe, U+8803, U+8805-8806, U+8809-880b, U+880d;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-085.woff2") format('woff2');
  unicode-range: U+880f-8816, U+8818-8819, U+881b-881c, U+881f, U+8821-8823, U+8827-8828, U+882d, U+8831-8832, U+8835-8836, U+8839, U+883b-883c, U+8840, U+8842, U+8844-8847, U+884a, U+884c-884d, U+8853-885b, U+885d-885e, U+8861-8865, U+8868-8869, U+886b-886c, U+886e, U+8870, U+8872, U+8877, U+8879-887a, U+887d-887f, U+8881-8882, U+8884-8885, U+8888, U+888b, U+888d, U+8892, U+8896, U+889c, U+889e-88a0, U+88a2, U+88a4, U+88ab, U+88ad, U+88b0-88b1, U+88b4-88b5, U+88b7, U+88bc, U+88c1-88c3, U+88c5-88c6, U+88c9-88ca, U+88cc, U+88ce;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-086.woff2") format('woff2');
  unicode-range: U+88cf, U+88d2, U+88d4-88d5, U+88d8-88d9, U+88dc-88dd, U+88df-88e5, U+88e8, U+88f0-88f1, U+88f3-88f4, U+88f8-88f9, U+88fc-88fe, U+8902-8904, U+8907, U+890a, U+8910, U+8912-8913, U+8919-891b, U+8921, U+8925, U+892a-892b, U+8930, U+8932-8934, U+8936, U+8938, U+893b, U+8941, U+8943-8944, U+8947, U+8949, U+894d, U+8956, U+895d-8960, U+8962, U+8964, U+8966, U+896a, U+896c, U+896f, U+8972, U+8977, U+897b, U+897f, U+8981, U+8983, U+8986-8988, U+898a-898c, U+898e-898f, U+8993-8994, U+8996-8998, U+899a, U+899c, U+89a1, U+89a6-89a7, U+89a9-89aa, U+89ac, U+89af-89b0, U+89b2-89b3, U+89b7;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-087.woff2") format('woff2');
  unicode-range: U+89ba, U+89bd, U+89bf-89cc, U+89ce-89d2, U+89d4-89d6, U+89da, U+89dc-89de, U+89e3, U+89e5-89e7, U+89e9, U+89eb, U+89ed, U+89ef, U+89f1, U+89f3-89f6, U+89f8, U+89ff-8a04, U+8a07-8a08, U+8a0a, U+8a0c, U+8a0e-8a13, U+8a15-8a18, U+8a1b, U+8a1d, U+8a1f, U+8a22-8a23, U+8a25, U+8a27, U+8a29-8a2a, U+8a2d, U+8a31, U+8a33-8a34, U+8a36, U+8a3a-8a3c, U+8a3e, U+8a41, U+8a45-8a46, U+8a48, U+8a4e, U+8a50-8a52, U+8a54-8a58, U+8a5b, U+8a5e-8a5f;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-088.woff2") format('woff2');
  unicode-range: U+8a60-8a63, U+8a66-8a67, U+8a69, U+8a6b-8a6e, U+8a70-8a73, U+8a75-8a76, U+8a79, U+8a7c, U+8a7f, U+8a82, U+8a84-8a87, U+8a89-8a8a, U+8a8c-8a8d, U+8a91-8a93, U+8a95-8a96, U+8a98, U+8a9a, U+8a9e, U+8aa0-8aa1, U+8aa3-8aa6, U+8aa8, U+8aaa, U+8aac-8aad, U+8ab0, U+8ab2, U+8ab6, U+8ab9, U+8abc, U+8abe-8abf, U+8ac2, U+8ac4, U+8ac6-8ac7, U+8ac9, U+8acb, U+8acd, U+8acf, U+8ad1-8ad2, U+8ad6-8ad7, U+8ad9-8ae2, U+8ae4, U+8ae6-8ae7, U+8aeb, U+8aed-8aee, U+8af1, U+8af3-8af4, U+8af6-8af8, U+8afa, U+8afc, U+8afe, U+8b00-8b02, U+8b04-8b05;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-089.woff2") format('woff2');
  unicode-range: U+8b06-8b07, U+8b0a, U+8b0c, U+8b0e-8b11, U+8b14, U+8b16-8b17, U+8b19-8b1b, U+8b1d, U+8b1f-8b21, U+8b26, U+8b28-8b29, U+8b2b-8b2c, U+8b33, U+8b37, U+8b39, U+8b3b-8b3c, U+8b3e, U+8b41, U+8b43, U+8b45-8b46, U+8b48-8b4a, U+8b4c-8b4f, U+8b54, U+8b56, U+8b58-8b5c, U+8b5f, U+8b66, U+8b6b-8b6d, U+8b6f-8b70, U+8b72, U+8b74, U+8b77-8b78, U+8b7d-8b7e, U+8b80-8b81, U+8b83, U+8b85, U+8b8a-8b8c, U+8b8e-8b90, U+8b92-8b96, U+8b99-8b9a, U+8b9c, U+8b9e-8bab, U+8bad-8bb0;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-090.woff2") format('woff2');
  unicode-range: U+8bb2-8bcf, U+8bd1-8be9, U+8beb-8c13;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-091.woff2") format('woff2');
  unicode-range: U+8c14-8c37, U+8c3f, U+8c41, U+8c46-8c4a, U+8c4c, U+8c4e-8c50, U+8c53-8c55, U+8c5a, U+8c61-8c62, U+8c68, U+8c6a-8c6c, U+8c6e, U+8c73, U+8c76, U+8c78-8c7a, U+8c82, U+8c85-8c86, U+8c89-8c8a, U+8c8c-8c8d, U+8c93-8c94, U+8c98, U+8c9b, U+8c9d-8c9e, U+8ca0-8ca2, U+8ca7-8cad, U+8caf-8cb0, U+8cb2-8cb4, U+8cb6-8cb8, U+8cba-8cbb;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-092.woff2") format('woff2');
  unicode-range: U+8cbc-8cbd, U+8cbf-8cc5, U+8cc7-8cca, U+8ccd-8cce, U+8cd1-8cd3, U+8cd5, U+8cd9-8cdc, U+8cde, U+8ce0-8ce4, U+8ce6-8ce7, U+8cea-8ced, U+8cf4-8cf5, U+8cf8, U+8cfa-8cfe, U+8d04-8d05, U+8d08, U+8d0a-8d0b, U+8d0d, U+8d0f-8d11, U+8d13, U+8d16-8d17, U+8d1b-8d1f, U+8d21-8d44;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-093.woff2") format('woff2');
  unicode-range: U+8d45-8d50, U+8d52-8d5e, U+8d60-8d64, U+8d66-8d67, U+8d6a-8d6d, U+8d70-8d71, U+8d73-8d78, U+8d81-8d82, U+8d84-8d85, U+8d8a-8d8b, U+8d8d, U+8d91, U+8d94-8d95, U+8d99, U+8d9f, U+8da3, U+8da6, U+8da8, U+8daf, U+8db1-8db5, U+8db8-8dba, U+8dbc, U+8dbe-8dbf, U+8dc1-8dc6, U+8dcb-8dcc, U+8dce-8dd2, U+8dd6-8dd7, U+8dda-8ddb, U+8ddd-8ddf, U+8de1, U+8de3-8de6;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-094.woff2") format('woff2');
  unicode-range: U+8de8, U+8dea-8dec, U+8def, U+8df3-8df5, U+8df7-8dfd, U+8e01, U+8e05, U+8e09-8e0a, U+8e0c, U+8e0f-8e10, U+8e14, U+8e16, U+8e18, U+8e1d-8e1f, U+8e21-8e23, U+8e25-8e27, U+8e29-8e2c, U+8e2e-8e31, U+8e34-8e36, U+8e39-8e3a, U+8e3c-8e3d, U+8e40-8e42, U+8e44, U+8e47-8e4c, U+8e4f, U+8e51-8e52, U+8e54-8e55, U+8e59-8e5a, U+8e5f-8e60, U+8e63-8e64, U+8e66-8e67, U+8e69, U+8e6c-8e70, U+8e72, U+8e74-8e76, U+8e7a-8e7c, U+8e7f, U+8e81-8e85, U+8e87, U+8e89-8e8b, U+8e8d;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-095.woff2") format('woff2');
  unicode-range: U+8e8f-8e95, U+8e97, U+8e99-8e9a, U+8e9c, U+8e9e, U+8ea0-8ea1, U+8ea5-8ea7, U+8ea9-8eb3, U+8eb6, U+8eba, U+8ebe, U+8ec0, U+8ec8, U+8eca-8ece, U+8ed2, U+8ed4, U+8edb, U+8edf, U+8ee2, U+8ee4, U+8eeb, U+8ef2, U+8ef8-8efe, U+8f03, U+8f05, U+8f07, U+8f09-8f0a, U+8f12-8f15, U+8f19, U+8f1b-8f1f, U+8f25-8f26, U+8f29-8f2a, U+8f2d, U+8f2f, U+8f33, U+8f36, U+8f38, U+8f3b, U+8f3e-8f3f, U+8f42, U+8f44-8f46, U+8f49, U+8f4c-8f4e, U+8f54, U+8f5f, U+8f61-8f62, U+8f64, U+8f66-8f68;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-096.woff2") format('woff2');
  unicode-range: U+8f69, U+8f6b-8f7f, U+8f81-8f8b, U+8f8d-8f91, U+8f93-8f9c, U+8f9e-8fa0, U+8fa2-8fa4, U+8fa6-8fa9, U+8fab, U+8fad-8fb3, U+8fb5-8fb7, U+8fb9-8fbf, U+8fc1-8fc2, U+8fc4-8fc8, U+8fca, U+8fce, U+8fd0-8fd1, U+8fd3-8fd5, U+8fd8-8fdd;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-097.woff2") format('woff2');
  unicode-range: U+8fde-8fe0, U+8fe2, U+8fe4-8fe6, U+8fe8-8feb, U+8fed-8fee, U+8ff0, U+8ff3-8ff4, U+8ff7-8ffb, U+8ffd, U+9000-9006, U+9008-900b, U+900d, U+900f-9017, U+9019-901b, U+901d-9023, U+9025-9026, U+9029, U+902d-902f, U+9031-9032, U+9035-9036, U+9038-9039, U+903b-903c, U+903e, U+9041-9042, U+9044-9045, U+9047, U+9049-904b, U+904d-9059, U+905b-905c, U+905e, U+9060-9063;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-098.woff2") format('woff2');
  unicode-range: U+9065, U+9068-9069, U+906d-906f, U+9072, U+9074-9078, U+907a, U+907c-907d, U+907f-9084, U+9087-9088, U+908a-908b, U+908f-9091, U+9093, U+9095, U+9097, U+9099, U+909b, U+909d, U+90a0-90a3, U+90a6, U+90a8, U+90aa, U+90ac, U+90ae-90b1, U+90b3-90b6, U+90b8-90bb, U+90be, U+90c1, U+90c3-90c5, U+90c7, U+90ca, U+90ce-90d1, U+90d3, U+90d7, U+90db-90df, U+90e1-90e2, U+90e6-90e8, U+90ea-90eb, U+90ed, U+90ef-90f0, U+90f4-90f5, U+90f7-90f8, U+90fd-90ff, U+9102, U+9104, U+9106, U+9109, U+9112, U+9114-9115;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-099.woff2") format('woff2');
  unicode-range: U+9116, U+9119, U+911c, U+911e, U+9120, U+9122-9123, U+9127, U+912d, U+912f-9132, U+9134, U+9136, U+9139-913a, U+913f, U+9143, U+9146, U+9148-9150, U+9152, U+9154, U+9156-9157, U+915a-915b, U+915d-915e, U+9161-9165, U+9167, U+9169-916a, U+916c, U+916e-9172, U+9174-917b, U+917d-917f, U+9181, U+9183, U+9185-9187, U+9189-918e, U+9190-9193, U+9195-9197, U+919a-919e, U+91a2-91a4, U+91a8, U+91aa-91b0;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-100.woff2") format('woff2');
  unicode-range: U+91b1-91b2, U+91b4-91b5, U+91b8, U+91ba-91be, U+91c0-91d5, U+91d7-91d9, U+91dc-91dd, U+91e2-91e4, U+91e6-91e7, U+91e9, U+91ec-91ed, U+91f5-91f7, U+91f9-91fb, U+91fe, U+9200-9201, U+9203-9209, U+920d-920e, U+9210-9212, U+9214-9215, U+921e, U+9221, U+9223, U+9225-9227, U+922e, U+9230, U+9233-9234, U+9237-923a, U+923d-9240, U+9244-9246, U+9248-9249, U+924b, U+924d, U+924f, U+9251, U+9255;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-101.woff2") format('woff2');
  unicode-range: U+9257, U+925a-925b, U+925e, U+9262, U+9264-9266, U+926b-926d, U+9271, U+9274, U+9276, U+9278, U+927a-927b, U+927e-9280, U+9283, U+9285, U+928d-928e, U+9291-9293, U+9295-9296, U+9298, U+929a-929c, U+92a0, U+92a3-92ae, U+92b1-92b3, U+92b7, U+92b9, U+92bb-92bc, U+92be, U+92c1, U+92c3, U+92c5-92c8, U+92ca, U+92cc, U+92cf, U+92d2, U+92d9, U+92dd, U+92df, U+92e3-92ea, U+92ed-92f3, U+92f6, U+92f8, U+92fc, U+9301, U+9304, U+9306-9308, U+930f-9310, U+9312, U+9315, U+9318-9319;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-102.woff2") format('woff2');
  unicode-range: U+931a-931b, U+931e-9322, U+9326, U+9328-9329, U+932b-932c, U+932e-932f, U+9332-9333, U+9336, U+9338, U+933a-933b, U+933e, U+9340-9341, U+9343, U+9346-9347, U+934a-934b, U+934d, U+9354, U+9358, U+935a-935b, U+9360, U+9364-9366, U+9369-936e, U+9370-9371, U+9373, U+9375-9376, U+937a, U+937c, U+937e, U+9382-9384, U+9387, U+938a-938c, U+938f, U+9394, U+9396-9398, U+939a-939b, U+939e, U+93a1-93a3, U+93a6-93a7, U+93a9-93aa, U+93ac-93ae, U+93b0, U+93b3, U+93b5, U+93b7-93bb, U+93bf, U+93c1, U+93c3, U+93c7-93c8, U+93ca, U+93cc-93cd, U+93d0-93d1, U+93d6-93d7;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-103.woff2") format('woff2');
  unicode-range: U+93d8, U+93dc-93df, U+93e1-93e2, U+93e4, U+93e6, U+93e8, U+93ed-93ee, U+93f0, U+93f5, U+93f7, U+93f9-93fa, U+93fd, U+9403, U+940b, U+940d-9410, U+9412-9414, U+9418-9419, U+941d, U+9420, U+9425-9428, U+942b, U+942d-942f, U+9432-9433, U+9435-9436, U+9438, U+943a, U+943d-943f, U+9444, U+944a, U+944c, U+9451-9455, U+945a-945b, U+945e, U+9460, U+9462-9465, U+946a-946b, U+946d, U+9470-9472, U+9474-9475, U+9477, U+9479, U+947c-947f, U+9481-9482, U+9485-9490, U+9492-9495;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-104.woff2") format('woff2');
  unicode-range: U+9496-94d3, U+94d5-94d9, U+94db-94f7;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-105.woff2") format('woff2');
  unicode-range: U+94f8-94fa, U+94fc-951b, U+951d-951f, U+9521-9532, U+9534-953c, U+953e-9547, U+9549-9554, U+9556-955e;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-106.woff2") format('woff2');
  unicode-range: U+955f, U+9561-9574, U+9576-9577, U+957f-9580, U+9582-9583, U+9586, U+9589-958c, U+958e-958f, U+9591-9594, U+9596, U+9598-9599, U+95a1-95a5, U+95a7-95a9, U+95ab-95ad, U+95b1-95b2, U+95b6, U+95b9, U+95bb-95bf, U+95c3, U+95c6-95c8, U+95ca-95cc, U+95d0, U+95d3-95d6, U+95d8, U+95da, U+95dc, U+95de, U+95e1-95e2, U+95e5, U+95e8-95eb, U+95ed-95f8;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-107.woff2") format('woff2');
  unicode-range: U+95f9-9606, U+9608-9612, U+9614-9617, U+9619-961a, U+961c-961d, U+961f, U+9621-9622, U+9628, U+962a, U+962c, U+962e-962f, U+9631-9636, U+963b-963d, U+963f-9640, U+9642, U+9644-9649, U+964b-964d, U+964f-9650, U+9654-9655, U+9658, U+965b-965f, U+9661-9665, U+9667-966a, U+966c, U+9670, U+9672-9678, U+967a-967b, U+967d, U+967f, U+9682, U+9684;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-108.woff2") format('woff2');
  unicode-range: U+9685-9686, U+9688-968b, U+968d-9690, U+9694-9699, U+969b-969c, U+96a0, U+96a3, U+96a7-96a8, U+96aa, U+96b0-96b1, U+96b3-96b4, U+96b6-96b9, U+96bb-96be, U+96c0-96c1, U+96c4-96c7, U+96c9-96cf, U+96d1-96d2, U+96d5-96d6, U+96d9, U+96db-96e0, U+96e2-96e3, U+96e8-96eb, U+96ef-96f0, U+96f2-96f3, U+96f6-96f7, U+96f9, U+96fb, U+96fe, U+9700-9701, U+9704, U+9706-970a, U+970d-970f, U+9711, U+9713, U+9716, U+971c, U+971e, U+9727, U+972a, U+972d, U+9730, U+9732, U+9738;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-109.woff2") format('woff2');
  unicode-range: U+9739, U+973d-973e, U+9742, U+9744, U+9746, U+9748-9749, U+9751-9753, U+9756, U+9759-975c, U+975e, U+9760-9762, U+9765-9766, U+9768-976a, U+976d, U+9770-9771, U+9773-9774, U+9776-9778, U+977a, U+977c, U+977f, U+9783-9786, U+9789, U+978b-978d, U+978f-9792, U+9794, U+9798, U+979a, U+979d, U+97a0-97a1, U+97a3, U+97a5-97a8, U+97ab-97af, U+97b2-97b6, U+97b8-97ba, U+97bd-97be, U+97c1, U+97c3, U+97c5-97c6, U+97c8-97c9, U+97cb-97cd, U+97d3, U+97d9, U+97dc, U+97de, U+97e4, U+97e6-97ed;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-110.woff2") format('woff2');
  unicode-range: U+97ee, U+97f3, U+97f5-97f6, U+97fb, U+97ff, U+9801-9803, U+9805-9808, U+980a, U+980c, U+980e-9813, U+9817-9818, U+981a, U+981c, U+981f, U+9821, U+9824, U+9826, U+982b-982d, U+9830, U+9832, U+9834, U+9837-9839, U+983b-983d, U+9846-9847, U+984b-984f, U+9852-9856, U+9858-985b, U+985e, U+9862-9863, U+9865-9867, U+986b-986c, U+986f-9871, U+9873-988d, U+988f;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-111.woff2") format('woff2');
  unicode-range: U+9890-9891, U+9893-9894, U+9896-98a2, U+98a4-98a8, U+98aa, U+98ad-98af, U+98b1, U+98b3, U+98b6-98b8, U+98ba-98bc, U+98bf-98c0, U+98c2-98c9, U+98ce, U+98d1-98dc, U+98de-98e5, U+98e7-98eb, U+98ed-98ef, U+98f1-98f2, U+98f4, U+98fc-98ff, U+9901, U+9903-9905, U+9908-990a, U+990c-9913, U+9918;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-112.woff2") format('woff2');
  unicode-range: U+991a-991c, U+991e, U+9920-9921, U+9927-9928, U+992c, U+992e, U+9931, U+9933, U+9935-9937, U+9939-993f, U+9942-9943, U+9945, U+9948-994d, U+9951-9952, U+9954-9955, U+9957, U+995c-995f, U+9962-9963, U+9965-997d, U+997f-9981, U+9983-998b, U+998d-9999, U+99a5, U+99a8, U+99ac-99ad;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-113.woff2") format('woff2');
  unicode-range: U+99ae, U+99b1, U+99b3-99b4, U+99bf, U+99c1, U+99c4-99c6, U+99c8, U+99d0-99d2, U+99d4-99d5, U+99d8-99d9, U+99db, U+99dd-99df, U+99e1-99e2, U+99ed-99ee, U+99f1, U+99f8, U+99ff, U+9a01, U+9a03, U+9a05, U+9a08, U+9a0c-9a10, U+9a12-9a13, U+9a16, U+9a19, U+9a23, U+9a28, U+9a2b, U+9a2d-9a2e, U+9a30, U+9a36-9a38, U+9a3e, U+9a40-9a45, U+9a4a, U+9a4d, U+9a4f, U+9a52, U+9a55, U+9a57-9a58, U+9a5a-9a5b, U+9a5f, U+9a62, U+9a64-9a65, U+9a69-9a6a, U+9a6c-9a71, U+9a73-9a82, U+9a84-9a85;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-114.woff2") format('woff2');
  unicode-range: U+9a86-9a88, U+9a8a-9a8c, U+9a8e-9a93, U+9a96-9a98, U+9a9a-9aa5, U+9aa7-9aa8, U+9aab, U+9aad, U+9aaf-9ab1, U+9ab3, U+9ab6-9ab8, U+9aba-9abe, U+9ac0-9ac2, U+9ac4-9ac5, U+9ac8, U+9acb-9acc, U+9acf, U+9ad1-9ad6, U+9ad8-9ad9, U+9adf-9ae7, U+9ae9-9aeb, U+9aed-9aef, U+9af2, U+9af4, U+9af9, U+9afb, U+9afd, U+9b00-9b04, U+9b06, U+9b08-9b09, U+9b0b-9b12;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-115.woff2") format('woff2');
  unicode-range: U+9b13, U+9b18, U+9b1a, U+9b1c, U+9b1f, U+9b22-9b23, U+9b25-9b2a, U+9b2c-9b32, U+9b3b-9b3c, U+9b41-9b45, U+9b47-9b49, U+9b4d-9b4f, U+9b51, U+9b54, U+9b58, U+9b5a-9b5b, U+9b5e-9b5f, U+9b68, U+9b6f, U+9b74, U+9b77, U+9b80-9b81, U+9b83-9b84, U+9b86, U+9b8b-9b8e, U+9b90-9b93, U+9b96, U+9b9a, U+9b9d-9b9f, U+9ba3, U+9ba6, U+9baa-9bab, U+9bad-9bae, U+9bb4, U+9bba, U+9bbf-9bc1, U+9bc6-9bca, U+9bce-9bcf, U+9bd1-9bd2, U+9bd4-9bd7, U+9bda-9bdb, U+9bdd, U+9be0-9be2, U+9be4-9be5, U+9be7-9be8;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-116.woff2") format('woff2');
  unicode-range: U+9bea-9beb, U+9bf0-9bf6, U+9bfd, U+9bff, U+9c02, U+9c06, U+9c08-9c09, U+9c0b-9c0d, U+9c10, U+9c12-9c13, U+9c15, U+9c1b-9c1c, U+9c1f-9c20, U+9c23-9c25, U+9c27-9c29, U+9c2d-9c33, U+9c35-9c37, U+9c39-9c3c, U+9c3e, U+9c45, U+9c47-9c49, U+9c52-9c54, U+9c56-9c58, U+9c5a, U+9c5d, U+9c5f-9c60, U+9c63, U+9c67-9c68, U+9c6d-9c6e, U+9c72, U+9c75, U+9c77-9c78, U+9c7a-9c7d, U+9c7f, U+9c81-9c82, U+9c85-9c88, U+9c8a-9c8b, U+9c8d-9c92, U+9c94-9c97, U+9c99-9c9b;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-117.woff2") format('woff2');
  unicode-range: U+9c9c-9ca9, U+9cab, U+9cad-9cae, U+9cb0-9cb8, U+9cba-9cbd, U+9cbf, U+9cc1, U+9cc3-9cc7, U+9cca-9cd9, U+9cdb-9cdf, U+9ce2-9ce3, U+9ce5-9ce7, U+9ce9, U+9cec, U+9cee, U+9cf0, U+9cf2-9cf4, U+9cf6, U+9cfe, U+9d02, U+9d06-9d09, U+9d0e, U+9d12, U+9d15, U+9d1a-9d1b, U+9d1d-9d1f, U+9d23, U+9d25-9d26, U+9d28, U+9d2b-9d2c, U+9d2f-9d30, U+9d34, U+9d37, U+9d3b;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-118.woff2") format('woff2');
  unicode-range: U+9d3d, U+9d3f, U+9d41-9d43, U+9d46, U+9d49, U+9d51-9d53, U+9d59, U+9d5c-9d5e, U+9d60-9d61, U+9d69-9d6a, U+9d6c, U+9d6e-9d70, U+9d72, U+9d76-9d77, U+9d7e, U+9d82-9d84, U+9d87, U+9d89-9d8a, U+9d8d, U+9d8f, U+9d92-9d93, U+9d96-9d98, U+9d9a, U+9da1, U+9da5, U+9da9-9daa, U+9dac, U+9daf, U+9db2, U+9db4, U+9db9-9dbc, U+9dbf-9dc4, U+9dc7, U+9dc9, U+9dd3, U+9dd6-9dda, U+9dde-9ddf, U+9de5-9de6, U+9de9, U+9deb, U+9dee-9df0, U+9df2-9df4, U+9df8-9dfa, U+9dfc-9dfd, U+9e02, U+9e07, U+9e0a, U+9e0c, U+9e0e, U+9e11, U+9e15, U+9e18, U+9e1a-9e1e;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-119.woff2") format('woff2');
  unicode-range: U+9e1f-9e23, U+9e25-9e33, U+9e35-9e3f, U+9e41-9e4c, U+9e4e-9e52, U+9e55-9e5c, U+9e5e, U+9e61, U+9e63-9e6d, U+9e6f-9e71, U+9e73, U+9e75, U+9e78-9e80, U+9e82-9e85, U+9e87-9e88, U+9e8b-9e8c, U+9e90-9e93, U+9e95;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-120.woff2") format('woff2');
  unicode-range: U+9e96-9e97, U+9e9d-9e9f, U+9ea4-9ea6, U+9ea9-9eaa, U+9eaf, U+9eb4-9eb5, U+9eb8-9ec0, U+9ec3-9ec4, U+9ec8-9ec9, U+9ecc-9ecf, U+9ed1-9ed2, U+9ed4, U+9ed8-9ee2, U+9ee5-9eea, U+9eee-9ef0, U+9ef2, U+9ef4, U+9ef6-9ef7, U+9ef9, U+9efb-9eff, U+9f02-9f03, U+9f07-9f09, U+9f0b, U+9f0d-9f10, U+9f12-9f1b, U+9f1d-9f22, U+9f25, U+9f27, U+9f2a-9f2c, U+9f2e-9f2f;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.CJK-Unified-Ideographs-121.woff2") format('woff2');
  unicode-range: U+9f34, U+9f37, U+9f39, U+9f3b, U+9f3d-9f3e, U+9f41, U+9f44-9f47, U+9f49-9f4b, U+9f4e-9f55, U+9f57-9f5a, U+9f5c-9f5d, U+9f5f-9f63, U+9f66-9f67, U+9f69-9f6a, U+9f6c, U+9f6e-9f6f, U+9f72, U+9f76-9f77, U+9f7c, U+9f7f-9f80, U+9f83-9fa4, U+9fbb;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.Private-Use-Area-1.woff2") format('woff2');
  unicode-range: U+e000-e005, U+e008-e009, U+e00e-e010, U+e014, U+e017, U+e01a, U+e01d, U+e020, U+e023-e024, U+e02e, U+e031, U+e033, U+e037-e038, U+e03a, U+e040, U+e045, U+e047, U+e04c, U+e051-e052, U+e055, U+e05f-e061, U+e06f, U+e071, U+e079, U+e07b, U+e07f, U+e081, U+e083-e084, U+e089-e08a, U+e08d-e08f, U+e09b-e09f, U+e0a6, U+e0a8, U+e0ab-e0ae, U+e0b0, U+e0b3, U+e0b9-e0ba, U+e0bc, U+e0be, U+e0c1, U+e0c3, U+e0c7-e0c8, U+e0ca-e0cb, U+e0ce-e0d2, U+e0d5, U+e0d7-e0d9, U+e0e4, U+e0eb, U+e0ef, U+e0f1-e0f3, U+e0fa-e0fb, U+e0fd-e0ff, U+e101, U+e103-e105, U+e107, U+e109;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.Private-Use-Area-2.woff2") format('woff2');
  unicode-range: U+e10b-e10c, U+e110, U+e116, U+e118-e11b, U+e11e, U+e121-e122, U+e125-e127, U+e129, U+e12d-e130, U+e134-e135, U+e139-e13a, U+e13d-e13e, U+e141, U+e145-e146, U+e149, U+e14c, U+e14e, U+e151, U+e153-e154, U+e156, U+e15a-e15b, U+e15d-e15f, U+e161-e162, U+e166, U+e170, U+e173, U+e175, U+e177-e178, U+e17e, U+e180, U+e187, U+e18c-e18d, U+e192-e194, U+e1a0, U+e1a3, U+e1a6, U+e1a8, U+e1af, U+e1b4, U+e1b6, U+e1bc-e1be, U+e1c0, U+e1c2-e1c3, U+e1c5, U+e1c7-e1cd, U+e1d1-e1d4, U+e1d8, U+e1db, U+e1de, U+e1e0, U+e1e2-e1e3, U+e1ef, U+e1f3, U+e1f7, U+e201, U+e204, U+e207, U+e20b-e20d;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.Private-Use-Area-3.woff2") format('woff2');
  unicode-range: U+e219, U+e21b, U+e220, U+e225-e226, U+e228, U+e22a, U+e22c-e22e, U+e232-e233, U+e236, U+e238, U+e23a-e23b, U+e23e-e23f, U+e241, U+e243-e244, U+e24a-e24b, U+e24e-e254, U+e256-e259, U+e25b, U+e25d, U+e25f-e265, U+e267-e268, U+e26a-e26d, U+e26f-e272, U+e276-e279, U+e27b, U+e27d-e27e, U+e281-e282, U+e286, U+e291, U+e29a, U+e2a1, U+e2a6, U+e2af, U+e2b9, U+e2bb, U+e2bd, U+e2bf, U+e2c1-e2c2, U+e2c4, U+e2cd, U+e2cf-e2d4, U+e2d7-e2d9, U+e2df, U+e2e6, U+e2eb, U+e2ef, U+e2f3, U+e305-e306, U+e308, U+e30a-e30c;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.Private-Use-Area-4.woff2") format('woff2');
  unicode-range: U+e30d, U+e316, U+e31a, U+e327, U+e32d-e32e, U+e331, U+e336-e337, U+e33a, U+e33d, U+e341, U+e34c-e34f, U+e351, U+e358, U+e35b-e35c, U+e35e, U+e362-e365, U+e367, U+e369-e36a, U+e36c-e371, U+e378, U+e37b-e37c, U+e37e, U+e380-e381, U+e385, U+e387-e388, U+e38a, U+e38e-e390, U+e392, U+e397-e399, U+e39c, U+e39f-e3a0, U+e3a2, U+e3a5-e3a8, U+e3aa, U+e3ad-e3ae, U+e3b0, U+e3b2-e3b7, U+e3b9, U+e3bb, U+e3c1, U+e3c5, U+e3c7-e3c9, U+e3ce, U+e3d0-e3d1, U+e3d3, U+e3d7, U+e3d9-e3dc, U+e3de-e3df, U+e3e2-e3e3, U+e3e5-e3e7, U+e3e9, U+e3eb, U+e3ee, U+e3f0;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.Private-Use-Area-5.woff2") format('woff2');
  unicode-range: U+e3f1, U+e3fc-e3fd, U+e3ff, U+e401, U+e406, U+e40a, U+e40e-e40f, U+e415-e417, U+e419, U+e41d-e41e, U+e420, U+e423, U+e425, U+e427, U+e42c-e42d, U+e431, U+e433-e435, U+e438, U+e43a-e43b, U+e43e, U+e440, U+e442-e443, U+e449, U+e44b, U+e44f, U+e452, U+e456, U+e458-e459, U+e461, U+e469, U+e46b, U+e46f, U+e471-e473, U+e47a, U+e47d-e481, U+e484-e487, U+e490, U+e492, U+e49a, U+e49d-e4a0, U+e4a5-e4a6, U+e4a9, U+e4ab-e4ac, U+e4b1, U+e4b4, U+e4b6, U+e4c0, U+e4c3-e4c5, U+e4cb-e4cc, U+e4d0, U+e4d4-e4d5, U+e4d7-e4d9, U+e4db, U+e4dd, U+e4df-e4e1, U+e4e4-e4e6, U+e4e9-e4ec, U+e4ef;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.Private-Use-Area-6.woff2") format('woff2');
  unicode-range: U+e4f2-e4f4, U+e4f8-e4fb, U+e4fd-e4ff, U+e505, U+e507-e508, U+e50a-e513, U+e516-e518, U+e51d-e51e, U+e521, U+e523, U+e525-e526, U+e529-e52c, U+e52e-e52f, U+e531, U+e533-e534, U+e539, U+e53c, U+e546-e547, U+e549, U+e550-e554, U+e557-e558, U+e562, U+e564-e568, U+e56a-e56b, U+e56e, U+e572-e575, U+e579, U+e581-e582, U+e584, U+e589-e58b, U+e593, U+e59b, U+e59f-e5a0, U+e5aa-e5ae, U+e5b2-e5b4, U+e5b6, U+e5b8-e5b9, U+e5bb, U+e5be, U+e5c0, U+e5c5, U+e5c7, U+e5cd-e5ce, U+e5d2;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.Private-Use-Area-7.woff2") format('woff2');
  unicode-range: U+e5d5, U+e5d7, U+e5dd-e5de, U+e5e1, U+e5e4-e5e6, U+e5e8-e5ea, U+e5ec-e5ed, U+e5f0-e5f3, U+e5f8, U+e5fa, U+e5ff-e600, U+e602-e604, U+e608, U+e60a, U+e60f, U+e611-e612, U+e614, U+e616, U+e618, U+e61b, U+e61d, U+e620-e621, U+e623-e624, U+e627-e628, U+e62a, U+e62c, U+e62e, U+e631, U+e635, U+e637-e638, U+e63a, U+e63d-e63f, U+e644-e649, U+e64c, U+e656, U+e658, U+e65a-e65f, U+e664, U+e666-e66a, U+e66d-e66e, U+e673, U+e679, U+e67d-e67e, U+e681-e682, U+e685-e687, U+e68a-e68c, U+e68e-e68f, U+e691, U+e693, U+e695, U+e69a, U+e69e, U+e6a7-e6a9;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Huiwen-Mincho.Private-Use-Area-8.woff2") format('woff2');
  unicode-range: U+e6aa, U+e6ac-e6ad, U+e6b0, U+e6b5-e6b6, U+e6b8-e6b9, U+e6bb-e6bf, U+e6c1-e6c2, U+e6c5-e6c6, U+e6c8, U+e6cc-e6cd, U+e6cf, U+e6d2-e6d8, U+e6da-e6dc, U+e6de, U+e6e3-e6e4, U+e6e8, U+e6ea-e6ed, U+e6ef-e6f0, U+e6f2-e6f3, U+e6f6-e6f9, U+e6fb-e6ff, U+e701;
}

@font-face {
  font-family: 'punctuation-marks';
  src: url("punctuation-marks.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}