/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 */

@font-face {
  font-family: 'PangMenZhengDao-XiXian';
  src: url(xixianti.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}