/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 */

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Basic-Latin-1.woff2) format('woff2');
  unicode-range: U+0, U+8-9, U+d, U+1d, U+20-7a;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Basic-Latin-2.woff2) format('woff2');
  unicode-range: U+7b-7e;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Latin-1-Supplement.woff2) format('woff2');
  unicode-range: U+87-88, U+8e-90, U+92-93, U+97-98, U+9c-9d, U+9f, U+a1, U+a4, U+a7-a8, U+ac-ad, U+b0-b3, U+b7-ba, U+bd, U+c3, U+c5, U+c9, U+d1-d7, U+e0-e1, U+e4, U+e8-ea, U+ec-ed, U+f2-f3, U+f7, U+f9-fa, U+fc, U+ff;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Latin-Extended-A.woff2) format('woff2');
  unicode-range: U+101, U+113, U+11b, U+12b, U+144, U+148, U+14d, U+16b;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Latin-Extended-B.woff2) format('woff2');
  unicode-range: U+1ce, U+1d0, U+1d2, U+1d4, U+1d6, U+1d8, U+1da, U+1dc;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.IPA-Extensions.woff2) format('woff2');
  unicode-range: U+251, U+261;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Spacing-Modifier-Letters.woff2) format('woff2');
  unicode-range: U+2c7, U+2c9;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Greek-and-Coptic.woff2) format('woff2');
  unicode-range: U+391-3a1, U+3a3-3a9, U+3b1-3c1, U+3c3-3c9;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Cyrillic.woff2) format('woff2');
  unicode-range: U+401, U+410-44f, U+451;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.General-Punctuation.woff2) format('woff2');
  unicode-range: U+2014, U+2016, U+2018-2019, U+201c-201d, U+2026, U+2030, U+2032-2033, U+203b, U+203e;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Letterlike-Symbols.woff2) format('woff2');
  unicode-range: U+2103, U+2116;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Number-Forms.woff2) format('woff2');
  unicode-range: U+2160-216b;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Arrows.woff2) format('woff2');
  unicode-range: U+2190-2193;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Mathematical-Operators.woff2) format('woff2');
  unicode-range: U+2208, U+220f, U+2211, U+221a, U+221d-221e, U+2220, U+2225, U+2227-222b, U+222e, U+2234-2237, U+223d, U+2248, U+224c, U+2260-2261, U+2264-2265, U+226e-226f, U+2299, U+22a5;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Miscellaneous-Technical.woff2) format('woff2');
  unicode-range: U+2312;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Enclosed-Alphanumerics.woff2) format('woff2');
  unicode-range: U+2460-2469, U+2474-249b;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Box-Drawing.woff2) format('woff2');
  unicode-range: U+2500-254b;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Geometric-Shapes.woff2) format('woff2');
  unicode-range: U+25a0-25a1, U+25b2-25b3, U+25c6-25c7, U+25cb, U+25ce-25cf;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Miscellaneous-Symbols.woff2) format('woff2');
  unicode-range: U+2605-2606, U+2640, U+2642;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Symbols-and-Punctuation.woff2) format('woff2');
  unicode-range: U+3000-3003, U+3005, U+3008-3011, U+3013-3017;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Hiragana.woff2) format('woff2');
  unicode-range: U+3041-3093;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Katakana.woff2) format('woff2');
  unicode-range: U+30a1-30f6;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Bopomofo.woff2) format('woff2');
  unicode-range: U+3105-3129;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.Enclosed-CJK-Letters-and-Months.woff2) format('woff2');
  unicode-range: U+3220-3229;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-01.woff2) format('woff2');
  unicode-range: U+4e00-4e01, U+4e03, U+4e07-4e0e, U+4e10-4e11, U+4e13-4e16, U+4e18-4e1e, U+4e22, U+4e24-4e25, U+4e27-4e28, U+4e2a-4e2d, U+4e30, U+4e32, U+4e34, U+4e36, U+4e38-4e3b, U+4e3d-4e3f, U+4e43, U+4e45, U+4e47-4e49, U+4e4b-4e50, U+4e52-4e54, U+4e56, U+4e58-4e59, U+4e5c-4e61, U+4e66, U+4e69, U+4e70-4e71, U+4e73, U+4e7e, U+4e86, U+4e88-4e89, U+4e8b-4e8f, U+4e91-4e95, U+4e98, U+4e9a-4e9b, U+4e9f-4ea2, U+4ea4-4ea6;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-02.woff2) format('woff2');
  unicode-range: U+4ea7-4ea9, U+4eab-4eae, U+4eb2-4eb3, U+4eb5, U+4eba-4ebb, U+4ebf-4ec7, U+4ec9-4ecb, U+4ecd-4ece, U+4ed1, U+4ed3-4ed9, U+4edd-4edf, U+4ee1, U+4ee3-4ee5, U+4ee8, U+4eea-4eec, U+4ef0, U+4ef2-4ef3, U+4ef5-4ef7, U+4efb, U+4efd, U+4eff, U+4f01, U+4f09-4f0a, U+4f0d-4f11, U+4f17-4f1b, U+4f1e-4f20, U+4f22, U+4f24-4f27, U+4f2a-4f2b, U+4f2f-4f30, U+4f32, U+4f34, U+4f36, U+4f38, U+4f3a, U+4f3c-4f3d, U+4f43, U+4f46, U+4f4d-4f51, U+4f53, U+4f55, U+4f57;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-03.woff2) format('woff2');
  unicode-range: U+4f58-4f60, U+4f63-4f65, U+4f67, U+4f69, U+4f6c, U+4f6f-4f70, U+4f73-4f74, U+4f76, U+4f7b-4f7c, U+4f7e-4f7f, U+4f83-4f84, U+4f88-4f89, U+4f8b, U+4f8d, U+4f8f, U+4f91, U+4f94, U+4f97, U+4f9b, U+4f9d, U+4fa0, U+4fa3, U+4fa5-4faa, U+4fac, U+4fae-4faf, U+4fb5, U+4fbf, U+4fc3-4fc5, U+4fca, U+4fce-4fd1, U+4fd7-4fd8, U+4fda, U+4fdc-4fdf, U+4fe1, U+4fe3, U+4fe6, U+4fe8-4fea, U+4fed-4fef, U+4ff1, U+4ff3, U+4ff8, U+4ffa, U+4ffe, U+500c-500d, U+500f, U+5012, U+5014, U+5018-501a, U+501c, U+501f, U+5021, U+5025-5026, U+5028-502a, U+502c-502d;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-04.woff2) format('woff2');
  unicode-range: U+502e, U+503a, U+503c, U+503e, U+5043, U+5047-5048, U+504c, U+504e-504f, U+5055, U+505a, U+505c, U+5065, U+506c, U+5076-5077, U+507b, U+507e-5080, U+5085, U+5088, U+508d, U+50a3, U+50a5, U+50a7-50a9, U+50ac, U+50b2, U+50ba-50bb, U+50cf, U+50d6, U+50da, U+50e6-50e7, U+50ec-50ee, U+50f3, U+50f5, U+50fb, U+5106-5107, U+510b, U+5112, U+5121, U+513f-5141, U+5143-5146, U+5148-5149, U+514b, U+514d, U+5151, U+5154-5156, U+515a, U+515c, U+5162, U+5165, U+5168, U+516b-516e, U+5170-5171, U+5173-5179, U+517b-517d, U+5180-5182, U+5185, U+5188-5189, U+518c-518d, U+5192, U+5195-5196;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-05.woff2) format('woff2');
  unicode-range: U+5197, U+5199, U+519b-519c, U+51a0, U+51a2, U+51a4-51a5, U+51ab-51ac, U+51af-51b3, U+51b5-51b7, U+51bb-51bd, U+51c0, U+51c4, U+51c6-51c7, U+51c9, U+51cb-51cc, U+51cf, U+51d1, U+51db, U+51dd, U+51e0-51e1, U+51e4, U+51eb, U+51ed, U+51ef-51f0, U+51f3, U+51f5-51f6, U+51f8-51fd, U+51ff-5203, U+5206-5208, U+520a, U+520d-520e, U+5211-5212, U+5216-521b, U+521d, U+5220, U+5224, U+5228-5229, U+522b, U+522d-522e, U+5230, U+5233, U+5236-523b, U+523d, U+523f-5243, U+524a, U+524c-524d, U+5250-5251, U+5254, U+5256;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-06.woff2) format('woff2');
  unicode-range: U+525c, U+525e, U+5261, U+5265, U+5267, U+5269-526a, U+526f, U+5272, U+527d, U+527f, U+5281-5282, U+5288, U+5290, U+5293, U+529b, U+529d-52a3, U+52a8-52ad, U+52b1-52b3, U+52be-52bf, U+52c3, U+52c7, U+52c9, U+52cb, U+52d0, U+52d2, U+52d6, U+52d8, U+52df, U+52e4, U+52f0, U+52f9-52fa, U+52fe-5300, U+5305-5306, U+5308, U+530d, U+530f-5310, U+5315-5317, U+5319-531a, U+531d, U+5320-5321, U+5323, U+5326, U+532a, U+532e, U+5339-533b, U+533e-533f, U+5341, U+5343, U+5345, U+5347-534a, U+534e-534f, U+5351-5353, U+5355-5357, U+535a, U+535c, U+535e-5362;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-07.woff2) format('woff2');
  unicode-range: U+5363-5364, U+5366-5367, U+5369, U+536b, U+536e-5371, U+5373-5375, U+5377-5378, U+537a, U+537f, U+5382, U+5384-5386, U+5389, U+538b-538d, U+5395, U+5398, U+539a, U+539d, U+539f, U+53a2-53a3, U+53a5-53a6, U+53a8-53a9, U+53ae, U+53b6, U+53bb, U+53bf, U+53c1-53c2, U+53c8-53cd, U+53d1, U+53d4, U+53d6-53d9, U+53db, U+53df-53e0, U+53e3-53e6, U+53e8-53f3, U+53f5-53f9, U+53fb-53fd, U+5401, U+5403-5404, U+5406, U+5408-540a, U+540c-5413;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-08.woff2) format('woff2');
  unicode-range: U+5415-5417, U+541b, U+541d-5421, U+5423, U+5426-5429, U+542b-542f, U+5431-5432, U+5434-5435, U+5438-5439, U+543b-543c, U+543e, U+5440, U+5443, U+5446, U+5448, U+544a-544b, U+5450, U+5452-5459, U+545b-545c, U+5462, U+5464, U+5466, U+5468, U+5471-5473, U+5475-5478, U+547b-547d, U+5480, U+5482, U+5484, U+5486, U+548b-548c, U+548e-5490, U+5492, U+5494-5496, U+5499-549b, U+549d, U+54a3-54a4, U+54a6-54ad, U+54af, U+54b1, U+54b3-54b4, U+54b8, U+54bb, U+54bd, U+54bf-54c1;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-09.woff2) format('woff2');
  unicode-range: U+54c2, U+54c4, U+54c6-54c9, U+54cc-54d5, U+54d7, U+54d9-54da, U+54dc-54df, U+54e5-54ea, U+54ed-54ee, U+54f2-54f3, U+54fa, U+54fc-54fd, U+54ff, U+5501, U+5506-5507, U+5509, U+550f-5511, U+5514, U+551b, U+5520, U+5522-5524, U+5527, U+552a, U+552c, U+552e-5531, U+5533, U+5537, U+553c, U+553e-553f, U+5541, U+5543-5544, U+5546, U+5549-554a, U+5550, U+5555-5556, U+555c, U+5561, U+5564-5567, U+556a, U+556c-556e, U+5575-5578, U+557b-557c, U+557e, U+5580-5584, U+5587-5589;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-10.woff2) format('woff2');
  unicode-range: U+558a-558b, U+558f, U+5591, U+5594, U+5598-5599, U+559c-559d, U+559f, U+55a7, U+55b1, U+55b3, U+55b5, U+55b7, U+55b9, U+55bb, U+55bd-55be, U+55c4-55c5, U+55c9, U+55cc-55cd, U+55d1-55d4, U+55d6, U+55dc-55dd, U+55df, U+55e1, U+55e3-55e6, U+55e8, U+55ea-55ec, U+55ef, U+55f2-55f3, U+55f5, U+55f7, U+55fd-55fe, U+5600-5601, U+5608-5609, U+560c, U+560e-560f, U+5618, U+561b, U+561e-561f, U+5623-5624, U+5627, U+562c-562d, U+5631-5632, U+5634, U+5636, U+5639, U+563b, U+563f, U+564c-564e, U+5654, U+5657-5659, U+565c, U+5662, U+5664, U+5668-566c, U+5671, U+5676, U+567b-567c, U+5685-5686, U+568e-568f, U+5693, U+56a3;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-11.woff2) format('woff2');
  unicode-range: U+56af, U+56b7, U+56bc, U+56ca, U+56d4, U+56d7, U+56da-56db, U+56dd-56e2, U+56e4, U+56eb, U+56ed, U+56f0-56f1, U+56f4-56f5, U+56f9-56fa, U+56fd-56ff, U+5703-5704, U+5706, U+5708-570a, U+571c, U+571f, U+5723, U+5728-572a, U+572c-5730, U+5733, U+5739-573b, U+573e, U+5740, U+5742, U+5747, U+574a, U+574c-5751, U+5757, U+575a-5761, U+5764, U+5766, U+5768-576b, U+576d, U+576f, U+5773, U+5776-5777, U+577b-577c, U+5782-5786, U+578b-578c, U+5792-5793, U+579b, U+57a0-57a4, U+57a6;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-12.woff2) format('woff2');
  unicode-range: U+57a7, U+57a9, U+57ab, U+57ad-57ae, U+57b2, U+57b4, U+57b8, U+57c2-57c3, U+57cb, U+57ce-57cf, U+57d2, U+57d4-57d5, U+57d8-57da, U+57dd, U+57df-57e0, U+57e4, U+57ed, U+57ef, U+57f4, U+57f8-57fa, U+57fd, U+5800, U+5802, U+5806-5807, U+580b, U+580d, U+5811, U+5815, U+5819, U+581e, U+5820-5821, U+5824, U+582a, U+5830, U+5835, U+5844, U+584c-584d, U+5851, U+5854, U+5858, U+585e, U+5865, U+586b-586c, U+587e, U+5880-5881, U+5883, U+5885, U+5889, U+5892-5893, U+5899-589a, U+589e-589f, U+58a8-58a9, U+58bc, U+58c1, U+58c5, U+58d1, U+58d5, U+58e4, U+58eb-58ec, U+58ee, U+58f0, U+58f3, U+58f6, U+58f9, U+5902, U+5904, U+5907, U+590d, U+590f, U+5914-5916, U+5919-591a, U+591c, U+591f, U+5924;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-13.woff2) format('woff2');
  unicode-range: U+5925, U+5927, U+5929-592b, U+592d-592f, U+5931, U+5934, U+5937-593a, U+593c, U+5941-5942, U+5944, U+5947-5949, U+594b, U+594e-594f, U+5951, U+5954-5958, U+595a, U+5960, U+5962, U+5965, U+5973-5974, U+5976, U+5978-5979, U+597d, U+5981-5984, U+5986-5988, U+598a, U+598d, U+5992-5993, U+5996-5997, U+5999, U+599e, U+59a3-59a5, U+59a8-59ab, U+59ae-59af, U+59b2, U+59b9, U+59bb, U+59be, U+59c6, U+59ca-59cb, U+59d0-59d4, U+59d7-59d8, U+59da, U+59dc-59dd, U+59e3, U+59e5, U+59e8, U+59ec, U+59f9, U+59fb, U+59ff, U+5a01, U+5a03-5a09;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-14.woff2) format('woff2');
  unicode-range: U+5a0c, U+5a11, U+5a13, U+5a18, U+5a1c, U+5a1f-5a20, U+5a23, U+5a25, U+5a29, U+5a31-5a32, U+5a34, U+5a36, U+5a3c, U+5a40, U+5a46, U+5a49-5a4a, U+5a55, U+5a5a, U+5a62, U+5a67, U+5a6a, U+5a74-5a77, U+5a7a, U+5a7f, U+5a92, U+5a9a-5a9b, U+5aaa, U+5ab2-5ab3, U+5ab5, U+5ab8, U+5abe, U+5ac1-5ac2, U+5ac9, U+5acc, U+5ad2, U+5ad4, U+5ad6, U+5ad8, U+5adc, U+5ae0-5ae1, U+5ae3, U+5ae6, U+5ae9, U+5aeb, U+5af1, U+5b09, U+5b16-5b17, U+5b32, U+5b34, U+5b37, U+5b40, U+5b50-5b51, U+5b53-5b55, U+5b57-5b5d, U+5b5f, U+5b62-5b66, U+5b69-5b6a, U+5b6c, U+5b70-5b71, U+5b73, U+5b75, U+5b7a, U+5b7d, U+5b80-5b81, U+5b83-5b85, U+5b87-5b88;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-15.woff2) format('woff2');
  unicode-range: U+5b89, U+5b8b-5b8c, U+5b8f, U+5b93, U+5b95, U+5b97-5b9e, U+5ba0-5ba6, U+5baa-5bab, U+5bb0, U+5bb3-5bb6, U+5bb8-5bb9, U+5bbd-5bbf, U+5bc2, U+5bc4-5bc7, U+5bcc, U+5bd0, U+5bd2-5bd3, U+5bdd-5bdf, U+5be1, U+5be4-5be5, U+5be8, U+5bee, U+5bf0, U+5bf8-5bfc, U+5bff, U+5c01, U+5c04, U+5c06, U+5c09-5c0a, U+5c0f, U+5c11, U+5c14-5c16, U+5c18, U+5c1a, U+5c1c-5c1d, U+5c22, U+5c24-5c25, U+5c27, U+5c2c, U+5c31, U+5c34, U+5c38-5c42, U+5c45, U+5c48-5c4b, U+5c4e-5c4f;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-16.woff2) format('woff2');
  unicode-range: U+5c50-5c51, U+5c55, U+5c59, U+5c5e, U+5c60-5c61, U+5c63, U+5c65-5c66, U+5c6e-5c6f, U+5c71, U+5c79-5c7a, U+5c7f, U+5c81-5c82, U+5c88, U+5c8c-5c8d, U+5c90-5c91, U+5c94, U+5c96-5c9c, U+5ca2-5ca3, U+5ca9, U+5cab-5cad, U+5cb1, U+5cb3, U+5cb5, U+5cb7-5cb8, U+5cbd, U+5cbf, U+5cc1, U+5cc4, U+5ccb, U+5cd2, U+5cd9, U+5ce1, U+5ce4-5ce6, U+5ce8, U+5cea, U+5ced, U+5cf0, U+5cfb, U+5d02-5d03, U+5d06-5d07, U+5d0e, U+5d14, U+5d16, U+5d1b, U+5d1e, U+5d24, U+5d26-5d27, U+5d29, U+5d2d-5d2e, U+5d34, U+5d3d-5d3e, U+5d47, U+5d4a-5d4c, U+5d58, U+5d5b, U+5d5d, U+5d69, U+5d6b-5d6c, U+5d6f, U+5d74, U+5d82, U+5d99, U+5d9d, U+5db7, U+5dc5, U+5dcd, U+5ddb, U+5ddd;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-17.woff2) format('woff2');
  unicode-range: U+5dde, U+5de1-5de2, U+5de5-5de9, U+5deb, U+5dee-5def, U+5df1-5df4, U+5df7, U+5dfd-5dfe, U+5e01-5e03, U+5e05-5e06, U+5e08, U+5e0c, U+5e0f-5e11, U+5e14-5e16, U+5e18-5e1d, U+5e26-5e27, U+5e2d-5e2e, U+5e31, U+5e37-5e38, U+5e3b-5e3d, U+5e42, U+5e44-5e45, U+5e4c, U+5e54-5e55, U+5e5b, U+5e5e, U+5e61-5e62, U+5e72-5e74, U+5e76, U+5e78, U+5e7a-5e7d, U+5e7f-5e80, U+5e84, U+5e86-5e87, U+5e8a-5e8b, U+5e8f-5e91, U+5e93-5e97, U+5e99-5e9a, U+5e9c, U+5e9e-5ea0, U+5ea5-5ea7, U+5ead, U+5eb3, U+5eb5-5eb8;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-18.woff2) format('woff2');
  unicode-range: U+5eb9, U+5ebe, U+5ec9-5eca, U+5ed1-5ed3, U+5ed6, U+5edb, U+5ee8, U+5eea, U+5ef4, U+5ef6-5ef7, U+5efa, U+5efe-5f04, U+5f08, U+5f0a-5f0b, U+5f0f, U+5f11, U+5f13, U+5f15, U+5f17-5f18, U+5f1b, U+5f1f-5f20, U+5f25-5f27, U+5f29-5f2a, U+5f2d, U+5f2f, U+5f31, U+5f39-5f3a, U+5f3c, U+5f40, U+5f50, U+5f52-5f53, U+5f55-5f58, U+5f5d, U+5f61-5f62, U+5f64, U+5f66, U+5f69-5f6a, U+5f6c-5f6d, U+5f70-5f71, U+5f73, U+5f77, U+5f79, U+5f7b-5f7c, U+5f80-5f82, U+5f84-5f85, U+5f87-5f8c, U+5f90, U+5f92, U+5f95, U+5f97-5f99, U+5f9c, U+5fa1, U+5fa8, U+5faa, U+5fad-5fae, U+5fb5, U+5fb7, U+5fbc-5fbd;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-19.woff2) format('woff2');
  unicode-range: U+5fc3-5fc6, U+5fc9, U+5fcc-5fcd, U+5fcf-5fd2, U+5fd6-5fd9, U+5fdd, U+5fe0-5fe1, U+5fe4, U+5fe7, U+5fea-5feb, U+5fed-5fee, U+5ff1, U+5ff5, U+5ff8, U+5ffb, U+5ffd-6006, U+600a, U+600d-600f, U+6012, U+6014-6016, U+6019, U+601b-601d, U+6020-6021, U+6025-602b, U+602f, U+6035, U+603b-603c, U+603f, U+6041-6043, U+604b, U+604d, U+6050, U+6052, U+6055, U+6059-605a, U+605d, U+6062-6064, U+6067-606d, U+606f-6070, U+6073, U+6076, U+6078-607d, U+607f;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-20.woff2) format('woff2');
  unicode-range: U+6083-6084, U+6089, U+608c-608d, U+6092, U+6094, U+6096, U+609a-609b, U+609d, U+609f-60a0, U+60a3, U+60a6, U+60a8, U+60ab-60ad, U+60af, U+60b1-60b2, U+60b4, U+60b8, U+60bb-60bc, U+60c5-60c6, U+60ca-60cb, U+60d1, U+60d5, U+60d8, U+60da, U+60dc-60dd, U+60df-60e0, U+60e6-60e9, U+60eb-60f0, U+60f3-60f4, U+60f6, U+60f9-60fa, U+6100-6101, U+6106, U+6108-6109, U+610d-610f, U+6115, U+611a, U+611f-6120, U+6123-6124, U+6126-6127, U+612b, U+613f, U+6148, U+614a, U+614c, U+614e, U+6151, U+6155, U+615d, U+6162, U+6167-6168, U+6170, U+6175, U+6177, U+618b, U+618e, U+6194, U+619d, U+61a7-61a9, U+61ac, U+61b7, U+61be, U+61c2, U+61c8;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-21.woff2) format('woff2');
  unicode-range: U+61ca-61cb, U+61d1-61d2, U+61d4, U+61e6, U+61f5, U+61ff, U+6206, U+6208, U+620a-6212, U+6215-6218, U+621a-621b, U+621f, U+6221-6222, U+6224-6225, U+622a, U+622c, U+622e, U+6233-6234, U+6237, U+623d-6241, U+6243, U+6247-6249, U+624b-624e, U+6251-6254, U+6258, U+625b, U+6263, U+6266-6267, U+6269-6270, U+6273, U+6276, U+6279, U+627c, U+627e-6280, U+6284, U+6289-628a, U+6291-6293, U+6295-6298, U+629a-629b, U+629f-62a2, U+62a4-62a5, U+62a8, U+62ab-62ac, U+62b1, U+62b5;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-22.woff2) format('woff2');
  unicode-range: U+62b9, U+62bb-62bd, U+62bf, U+62c2, U+62c4-62ca, U+62cc-62ce, U+62d0, U+62d2-62d4, U+62d6-62dc, U+62df, U+62e2-62e3, U+62e5-62e9, U+62ec-62ef, U+62f1, U+62f3-62f4, U+62f6-62f7, U+62fc-62ff, U+6301-6302, U+6307-6309, U+630e, U+6311, U+6316, U+631a-631b, U+631d-6325, U+6328, U+632a-632b, U+632f, U+6332, U+6339-633a, U+633d, U+6342-6343, U+6345-6346, U+6349, U+634b-6350, U+6355, U+635e-635f, U+6361-6363, U+6367, U+6369, U+636d-636e;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-23.woff2) format('woff2');
  unicode-range: U+6371, U+6376-6377, U+637a-637b, U+6380, U+6382, U+6387-638a, U+638c, U+638e-6390, U+6392, U+6396, U+6398, U+63a0, U+63a2-63a3, U+63a5, U+63a7-63aa, U+63ac-63ae, U+63b0, U+63b3-63b4, U+63b7-63b8, U+63ba, U+63bc, U+63be, U+63c4, U+63c6, U+63c9, U+63cd-63d0, U+63d2, U+63d6, U+63de, U+63e0-63e1, U+63e3, U+63e9-63ea, U+63ed, U+63f2, U+63f4, U+63f6, U+63f8, U+63fd, U+63ff-6402, U+6405, U+640b-640c, U+640f-6410, U+6413-6414, U+641b-641c, U+641e, U+6420-6421, U+6426, U+642a, U+642c-642d, U+6434, U+643a, U+643d, U+643f, U+6441, U+6444-6448, U+644a, U+6452, U+6454, U+6458, U+645e, U+6467, U+6469, U+646d;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-24.woff2) format('woff2');
  unicode-range: U+6478-647a, U+6482, U+6484-6485, U+6487, U+6491-6492, U+6495-6496, U+6499, U+649e, U+64a4, U+64a9, U+64ac-64ae, U+64b0, U+64b5, U+64b7-64b8, U+64ba, U+64bc, U+64c0, U+64c2, U+64c5, U+64cd-64ce, U+64d0, U+64d2, U+64d7-64d8, U+64de, U+64e2, U+64e4, U+64e6, U+6500, U+6509, U+6512, U+6518, U+6525, U+652b, U+652e-652f, U+6534-6536, U+6538-6539, U+653b, U+653e-653f, U+6545, U+6548-6549, U+654c, U+654f, U+6551, U+6555-6556, U+6559, U+655b, U+655d-655e, U+6562-6563, U+6566, U+656b-656c, U+6570, U+6572, U+6574, U+6577, U+6587, U+658b-658c, U+6590-6591, U+6593, U+6597, U+6599, U+659b-659c, U+659f, U+65a1, U+65a4-65a5, U+65a7, U+65a9, U+65ab, U+65ad, U+65af-65b0, U+65b9, U+65bc;
}

@font-face {
  font-family: 'ShouShuti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ShouShuti.CJK-Unified-Ideographs-25.woff2) format('woff2');
  unicode-range: U+65bd, U+65c1, U+65c3-65c6, U+65cb-65cc, U+65ce-65cf, U+65d2, U+65d6-65d7, U+65e0, U+65e2, U+65e5-65e9, U+65ec-65f1, U+65f6-65f7, U+65fa, U+6600, U+6602-6603, U+6606, U+660a, U+660c, U+660e-660f, U+6613-6615, U+6619, U+661d, U+661f-6620, U+6625, U+6627-6628, U+662d, U+662f, U+6631, U+6634-6636, U+663c, U+663e, U+6641, U+6643, U+664b-664c, U+664f, U+6652-6657, U+665a, U+665f, U+6661, U+6664, U+6666, U+6668, U+666e-6670, U+6674, U+6676-6677, U+667a, U+667e, U+6682, U+6684, U+6687, U+668c, U+6691, U+6696-6697, U+669d, U+66a7-66a8, U+66ae, U+66b4, U+66b9, U+66be, U+66d9, U+66db;
}