/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 */

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Basic-Latin.woff2) format('woff2');
  unicode-range: U+1-7e;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Latin-1-Supplement.woff2) format('woff2');
  unicode-range: U+80-ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Latin-Extended-A.woff2) format('woff2');
  unicode-range: U+100-103, U+110-115, U+11a-11b, U+128-12d, U+143-144, U+147-148, U+14c-153, U+168-16d, U+170-171;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Latin-Extended-B.woff2) format('woff2');
  unicode-range: U+192, U+197, U+1a0-1a1, U+1af-1b0, U+1cd-1dc, U+1f8-1f9, U+244;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.IPA-Extensions.woff2) format('woff2');
  unicode-range: U+251, U+261, U+268, U+289;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Spacing-Modifier-Letters.woff2) format('woff2');
  unicode-range: U+2c6-2c7, U+2c9-2cb, U+2d9, U+2ea-2eb;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Combining-Diacritical-Marks.woff2) format('woff2');
  unicode-range: U+300-302, U+304, U+306, U+30b-30d, U+358;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Greek-and-Coptic.woff2) format('woff2');
  unicode-range: U+391-3a1, U+3a3-3a9, U+3b1-3c1, U+3c3-3c9;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Cyrillic.woff2) format('woff2');
  unicode-range: U+401, U+410-44f, U+451;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Latin-Extended-Additional.woff2) format('woff2');
  unicode-range: U+1e3e-1e3f, U+1e5e-1e5f, U+1ea0-1ef9;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.General-Punctuation.woff2) format('woff2');
  unicode-range: U+2003, U+2010-2016, U+2018-201a, U+201c-201e, U+2020-2022, U+2025-2027, U+2030, U+2032-2033, U+2035, U+2039-203c, U+2042, U+2047-2049, U+2051;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Superscripts-and-Subscripts.woff2) format('woff2');
  unicode-range: U+207a, U+207f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Currency-Symbols.woff2) format('woff2');
  unicode-range: U+20a9, U+20ac;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Combining-Diacritical-Marks-for-Symbols.woff2) format('woff2');
  unicode-range: U+20dd-20de;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Letterlike-Symbols.woff2) format('woff2');
  unicode-range: U+2100, U+2103, U+2105, U+2109-210a, U+210f, U+2113, U+2116, U+2121-2122, U+2126-2127, U+212b, U+212e, U+2135, U+213b;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Number-Forms.woff2) format('woff2');
  unicode-range: U+2160-216b, U+2170-217b;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Arrows.woff2) format('woff2');
  unicode-range: U+2190-2199, U+21b8-21b9, U+21c4-21c6, U+21cb-21cc, U+21d0, U+21d2, U+21d4, U+21e6-21e9, U+21f5;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Mathematical-Operators.woff2) format('woff2');
  unicode-range: U+2200, U+2202-2203, U+2205-220b, U+220f, U+2211-2213, U+2215, U+221a, U+221d-2220, U+2223, U+2225-222e, U+2234-2237, U+223d, U+2243, U+2245, U+2248, U+224c, U+2252, U+2260-2262, U+2264-2267, U+226a-226b, U+226e-226f, U+2272-2273, U+2276-2277, U+2282-2287, U+228a-228b, U+2295-2299, U+22a0, U+22a5, U+22bf, U+22da-22db, U+22ef;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Miscellaneous-Technical.woff2) format('woff2');
  unicode-range: U+2305-2307, U+2312, U+2318, U+2329-232a, U+23b0-23b1, U+23be-23cc, U+23ce, U+23da-23db;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Control-Pictures.woff2) format('woff2');
  unicode-range: U+2423;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Enclosed-Alphanumerics-1.woff2) format('woff2');
  unicode-range: U+2460-24df;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Enclosed-Alphanumerics-2.woff2) format('woff2');
  unicode-range: U+24e0-24ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Box-Drawing.woff2) format('woff2');
  unicode-range: U+2500-257f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Block-Elements.woff2) format('woff2');
  unicode-range: U+2580-259f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Geometric-Shapes.woff2) format('woff2');
  unicode-range: U+25a0-25ab, U+25b1-25b3, U+25b6-25b7, U+25bc-25bd, U+25c0-25c1, U+25c6-25cc, U+25ce-25d3, U+25e2-25e6, U+25ef;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Miscellaneous-Symbols.woff2) format('woff2');
  unicode-range: U+2600-2603, U+2605-2606, U+2609, U+260e-260f, U+2616-2617, U+261c-261f, U+262f, U+2640-2642, U+2660-266f, U+2672-267d, U+26a0, U+26bd-26be;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Dingbats.woff2) format('woff2');
  unicode-range: U+2702, U+2713, U+271a, U+273d, U+273f-2740, U+2756, U+2776-277f, U+27a1;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Supplemental-Arrows-B.woff2) format('woff2');
  unicode-range: U+2934-2935;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Miscellaneous-Mathematical-Symbols-B.woff2) format('woff2');
  unicode-range: U+29bf, U+29fa-29fb;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Miscellaneous-Symbols-and-Arrows.woff2) format('woff2');
  unicode-range: U+2b05-2b07, U+2b1a;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Supplemental-Punctuation.woff2) format('woff2');
  unicode-range: U+2e3a;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Radicals-Supplement.woff2) format('woff2');
  unicode-range: U+2e80-2e99, U+2e9b-2ef3;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Ideographic-Description-Characters.woff2) format('woff2');
  unicode-range: U+2ff0-2ffb;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Symbols-and-Punctuation.woff2) format('woff2');
  unicode-range: U+3000-303f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Hiragana.woff2) format('woff2');
  unicode-range: U+3041-3096, U+3099-309f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Katakana.woff2) format('woff2');
  unicode-range: U+30a0-30ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Bopomofo.woff2) format('woff2');
  unicode-range: U+3105-3126, U+3128-312d, U+312f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Kanbun.woff2) format('woff2');
  unicode-range: U+3190-319f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Bopomofo-Extended.woff2) format('woff2');
  unicode-range: U+31a0-31bb;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Strokes.woff2) format('woff2');
  unicode-range: U+31c0-31e3;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Katakana-Phonetic-Extensions.woff2) format('woff2');
  unicode-range: U+31f0-31ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Enclosed-CJK-Letters-and-Months-1.woff2) format('woff2');
  unicode-range: U+3220-3247, U+3250-325f, U+327f-32bf, U+32cc-32d2;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Enclosed-CJK-Letters-and-Months-2.woff2) format('woff2');
  unicode-range: U+32d3-32ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Compatibility-1.woff2) format('woff2');
  unicode-range: U+3300-332b, U+332d-3357, U+3371-3399;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Compatibility-2.woff2) format('woff2');
  unicode-range: U+339a-33df, U+33ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-Extension-A-1.woff2) format('woff2');
  unicode-range: U+3402, U+3405-3406, U+3427, U+342c, U+342e, U+3468, U+346a, U+3488, U+3492, U+34b5, U+34bc, U+34c1, U+34c7, U+34db, U+351f, U+353e, U+355d-355e, U+3563, U+356e, U+35a6, U+35a8, U+35c5, U+35da, U+35de, U+35f4, U+3605, U+3614, U+364a, U+3691, U+3696, U+3699, U+36cf, U+3761-3762, U+376b-376c, U+3775, U+378d, U+37c1, U+37e2, U+37e8, U+37f4, U+37fd, U+3800, U+382f, U+3836, U+3840, U+385c, U+3861, U+38a1, U+38ad, U+38fa, U+3917, U+391a, U+396f, U+39a4, U+39b8, U+3a5c, U+3a6e, U+3a73, U+3a85, U+3ac4, U+3acb, U+3ad6-3ad7, U+3aea, U+3af3, U+3b0e, U+3b1a, U+3b1c, U+3b22, U+3b6d, U+3b77, U+3b87-3b88, U+3b8d, U+3ba4, U+3bb6, U+3bc3, U+3bcd, U+3bf0, U+3bf3, U+3c0f, U+3c26, U+3cc3, U+3cd2, U+3d11, U+3d1e, U+3d31, U+3d4e, U+3d64, U+3d9a, U+3dc0, U+3dcc, U+3dd4, U+3e05, U+3e3f-3e40, U+3e60, U+3e66, U+3e68, U+3e83, U+3e8a, U+3e94, U+3eda, U+3f57, U+3f72, U+3f75, U+3f77, U+3fae, U+3fb1, U+3fc9, U+3fd7, U+3fdc, U+4039, U+4058, U+4093, U+4103, U+4105, U+4148, U+414f, U+4163, U+41b4, U+41bf, U+41e6, U+41ee;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-Extension-A-2.woff2) format('woff2');
  unicode-range: U+41f3, U+4207, U+420e, U+4264, U+4293, U+42c6, U+42d6, U+42dd, U+4302, U+432b, U+4343, U+43ee, U+43f0, U+4408, U+440c, U+4417, U+441c, U+4422, U+4453, U+445b, U+4476, U+447a, U+4491, U+44b3, U+44be, U+44d4, U+4508, U+450d, U+4525, U+4543, U+457a, U+459d, U+45b8, U+45be, U+45e5, U+45ea, U+460f-4610, U+4641, U+4665, U+46a1, U+46ae-46af, U+470c, U+471f, U+4764, U+47e6, U+47fd, U+4816, U+481e, U+4844, U+484e, U+48b5, U+49b0, U+49e7, U+49fa, U+4a04, U+4a29, U+4abc, U+4b38, U+4b3b, U+4b7e, U+4bc2, U+4bca, U+4bd2, U+4be8, U+4c17, U+4c20, U+4c38, U+4cc4, U+4cd1, U+4ce1, U+4d07, U+4d77;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-001.woff2) format('woff2');
  unicode-range: U+4e00-4e7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-002.woff2) format('woff2');
  unicode-range: U+4e80-4eff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-003.woff2) format('woff2');
  unicode-range: U+4f00-4f7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-004.woff2) format('woff2');
  unicode-range: U+4f80-4fff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-005.woff2) format('woff2');
  unicode-range: U+5000-507f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-006.woff2) format('woff2');
  unicode-range: U+5080-50ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-007.woff2) format('woff2');
  unicode-range: U+5100-517f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-008.woff2) format('woff2');
  unicode-range: U+5180-51ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-009.woff2) format('woff2');
  unicode-range: U+5200-527f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-010.woff2) format('woff2');
  unicode-range: U+5280-52ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-011.woff2) format('woff2');
  unicode-range: U+5300-537f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-012.woff2) format('woff2');
  unicode-range: U+5380-53ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-013.woff2) format('woff2');
  unicode-range: U+5400-547f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-014.woff2) format('woff2');
  unicode-range: U+5480-54ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-015.woff2) format('woff2');
  unicode-range: U+5500-557f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-016.woff2) format('woff2');
  unicode-range: U+5580-55ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-017.woff2) format('woff2');
  unicode-range: U+5600-567f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-018.woff2) format('woff2');
  unicode-range: U+5680-56ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-019.woff2) format('woff2');
  unicode-range: U+5700-577f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-020.woff2) format('woff2');
  unicode-range: U+5780-57ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-021.woff2) format('woff2');
  unicode-range: U+5800-587f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-022.woff2) format('woff2');
  unicode-range: U+5880-58ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-023.woff2) format('woff2');
  unicode-range: U+5900-597f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-024.woff2) format('woff2');
  unicode-range: U+5980-59ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-025.woff2) format('woff2');
  unicode-range: U+5a00-5a7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-026.woff2) format('woff2');
  unicode-range: U+5a80-5aff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-027.woff2) format('woff2');
  unicode-range: U+5b00-5b7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-028.woff2) format('woff2');
  unicode-range: U+5b80-5bff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-029.woff2) format('woff2');
  unicode-range: U+5c00-5c7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-030.woff2) format('woff2');
  unicode-range: U+5c80-5cff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-031.woff2) format('woff2');
  unicode-range: U+5d00-5d7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-032.woff2) format('woff2');
  unicode-range: U+5d80-5dff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-033.woff2) format('woff2');
  unicode-range: U+5e00-5e7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-034.woff2) format('woff2');
  unicode-range: U+5e80-5eff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-035.woff2) format('woff2');
  unicode-range: U+5f00-5f7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-036.woff2) format('woff2');
  unicode-range: U+5f80-5fff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-037.woff2) format('woff2');
  unicode-range: U+6000-607f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-038.woff2) format('woff2');
  unicode-range: U+6080-60ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-039.woff2) format('woff2');
  unicode-range: U+6100-617f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-040.woff2) format('woff2');
  unicode-range: U+6180-61ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-041.woff2) format('woff2');
  unicode-range: U+6200-627f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-042.woff2) format('woff2');
  unicode-range: U+6280-62ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-043.woff2) format('woff2');
  unicode-range: U+6300-637f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-044.woff2) format('woff2');
  unicode-range: U+6380-63ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-045.woff2) format('woff2');
  unicode-range: U+6400-647f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-046.woff2) format('woff2');
  unicode-range: U+6480-64ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-047.woff2) format('woff2');
  unicode-range: U+6500-657f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-048.woff2) format('woff2');
  unicode-range: U+6580-65ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-049.woff2) format('woff2');
  unicode-range: U+6600-667f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-050.woff2) format('woff2');
  unicode-range: U+6680-66ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-051.woff2) format('woff2');
  unicode-range: U+6700-677f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-052.woff2) format('woff2');
  unicode-range: U+6780-67ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-053.woff2) format('woff2');
  unicode-range: U+6800-687f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-054.woff2) format('woff2');
  unicode-range: U+6880-68ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-055.woff2) format('woff2');
  unicode-range: U+6900-697f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-056.woff2) format('woff2');
  unicode-range: U+6980-69ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-057.woff2) format('woff2');
  unicode-range: U+6a00-6a7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-058.woff2) format('woff2');
  unicode-range: U+6a80-6aff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-059.woff2) format('woff2');
  unicode-range: U+6b00-6b7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-060.woff2) format('woff2');
  unicode-range: U+6b80-6bff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-061.woff2) format('woff2');
  unicode-range: U+6c00-6c7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-062.woff2) format('woff2');
  unicode-range: U+6c80-6cff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-063.woff2) format('woff2');
  unicode-range: U+6d00-6d7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-064.woff2) format('woff2');
  unicode-range: U+6d80-6dff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-065.woff2) format('woff2');
  unicode-range: U+6e00-6e7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-066.woff2) format('woff2');
  unicode-range: U+6e80-6eff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-067.woff2) format('woff2');
  unicode-range: U+6f00-6f7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-068.woff2) format('woff2');
  unicode-range: U+6f80-6fff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-069.woff2) format('woff2');
  unicode-range: U+7000-707f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-070.woff2) format('woff2');
  unicode-range: U+7080-70ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-071.woff2) format('woff2');
  unicode-range: U+7100-717f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-072.woff2) format('woff2');
  unicode-range: U+7180-71ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-073.woff2) format('woff2');
  unicode-range: U+7200-727f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-074.woff2) format('woff2');
  unicode-range: U+7280-72ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-075.woff2) format('woff2');
  unicode-range: U+7300-737f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-076.woff2) format('woff2');
  unicode-range: U+7380-73ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-077.woff2) format('woff2');
  unicode-range: U+7400-747f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-078.woff2) format('woff2');
  unicode-range: U+7480-74ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-079.woff2) format('woff2');
  unicode-range: U+7500-757f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-080.woff2) format('woff2');
  unicode-range: U+7580-75ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-081.woff2) format('woff2');
  unicode-range: U+7600-767f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-082.woff2) format('woff2');
  unicode-range: U+7680-76ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-083.woff2) format('woff2');
  unicode-range: U+7700-777f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-084.woff2) format('woff2');
  unicode-range: U+7780-77ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-085.woff2) format('woff2');
  unicode-range: U+7800-787f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-086.woff2) format('woff2');
  unicode-range: U+7880-78ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-087.woff2) format('woff2');
  unicode-range: U+7900-797f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-088.woff2) format('woff2');
  unicode-range: U+7980-79ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-089.woff2) format('woff2');
  unicode-range: U+7a00-7a7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-090.woff2) format('woff2');
  unicode-range: U+7a80-7aff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-091.woff2) format('woff2');
  unicode-range: U+7b00-7b7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-092.woff2) format('woff2');
  unicode-range: U+7b80-7bff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-093.woff2) format('woff2');
  unicode-range: U+7c00-7c7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-094.woff2) format('woff2');
  unicode-range: U+7c80-7cff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-095.woff2) format('woff2');
  unicode-range: U+7d00-7d7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-096.woff2) format('woff2');
  unicode-range: U+7d80-7dff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-097.woff2) format('woff2');
  unicode-range: U+7e00-7e7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-098.woff2) format('woff2');
  unicode-range: U+7e80-7eff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-099.woff2) format('woff2');
  unicode-range: U+7f00-7f7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-100.woff2) format('woff2');
  unicode-range: U+7f80-7fff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-101.woff2) format('woff2');
  unicode-range: U+8000-807f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-102.woff2) format('woff2');
  unicode-range: U+8080-80ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-103.woff2) format('woff2');
  unicode-range: U+8100-817f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-104.woff2) format('woff2');
  unicode-range: U+8180-81ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-105.woff2) format('woff2');
  unicode-range: U+8200-827f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-106.woff2) format('woff2');
  unicode-range: U+8280-82ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-107.woff2) format('woff2');
  unicode-range: U+8300-837f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-108.woff2) format('woff2');
  unicode-range: U+8380-83ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-109.woff2) format('woff2');
  unicode-range: U+8400-847f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-110.woff2) format('woff2');
  unicode-range: U+8480-84ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-111.woff2) format('woff2');
  unicode-range: U+8500-857f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-112.woff2) format('woff2');
  unicode-range: U+8580-85ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-113.woff2) format('woff2');
  unicode-range: U+8600-867f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-114.woff2) format('woff2');
  unicode-range: U+8680-86ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-115.woff2) format('woff2');
  unicode-range: U+8700-877f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-116.woff2) format('woff2');
  unicode-range: U+8780-87ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-117.woff2) format('woff2');
  unicode-range: U+8800-887f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-118.woff2) format('woff2');
  unicode-range: U+8880-88ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-119.woff2) format('woff2');
  unicode-range: U+8900-897f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-120.woff2) format('woff2');
  unicode-range: U+8980-89ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-121.woff2) format('woff2');
  unicode-range: U+8a00-8a7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-122.woff2) format('woff2');
  unicode-range: U+8a80-8aff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-123.woff2) format('woff2');
  unicode-range: U+8b00-8b7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-124.woff2) format('woff2');
  unicode-range: U+8b80-8bff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-125.woff2) format('woff2');
  unicode-range: U+8c00-8c7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-126.woff2) format('woff2');
  unicode-range: U+8c80-8cff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-127.woff2) format('woff2');
  unicode-range: U+8d00-8d7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-128.woff2) format('woff2');
  unicode-range: U+8d80-8dff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-129.woff2) format('woff2');
  unicode-range: U+8e00-8e7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-130.woff2) format('woff2');
  unicode-range: U+8e80-8eff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-131.woff2) format('woff2');
  unicode-range: U+8f00-8f7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-132.woff2) format('woff2');
  unicode-range: U+8f80-8fff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-133.woff2) format('woff2');
  unicode-range: U+9000-907f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-134.woff2) format('woff2');
  unicode-range: U+9080-90ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-135.woff2) format('woff2');
  unicode-range: U+9100-917f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-136.woff2) format('woff2');
  unicode-range: U+9180-91ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-137.woff2) format('woff2');
  unicode-range: U+9200-927f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-138.woff2) format('woff2');
  unicode-range: U+9280-92ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-139.woff2) format('woff2');
  unicode-range: U+9300-937f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-140.woff2) format('woff2');
  unicode-range: U+9380-93ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-141.woff2) format('woff2');
  unicode-range: U+9400-947f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-142.woff2) format('woff2');
  unicode-range: U+9480-94ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-143.woff2) format('woff2');
  unicode-range: U+9500-957f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-144.woff2) format('woff2');
  unicode-range: U+9580-95ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-145.woff2) format('woff2');
  unicode-range: U+9600-967f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-146.woff2) format('woff2');
  unicode-range: U+9680-96ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-147.woff2) format('woff2');
  unicode-range: U+9700-977f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-148.woff2) format('woff2');
  unicode-range: U+9780-97ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-149.woff2) format('woff2');
  unicode-range: U+9800-987f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-150.woff2) format('woff2');
  unicode-range: U+9880-98ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-151.woff2) format('woff2');
  unicode-range: U+9900-997f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-152.woff2) format('woff2');
  unicode-range: U+9980-99ff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-153.woff2) format('woff2');
  unicode-range: U+9a00-9a7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-154.woff2) format('woff2');
  unicode-range: U+9a80-9aff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-155.woff2) format('woff2');
  unicode-range: U+9b00-9b7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-156.woff2) format('woff2');
  unicode-range: U+9b80-9bff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-157.woff2) format('woff2');
  unicode-range: U+9c00-9c7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-158.woff2) format('woff2');
  unicode-range: U+9c80-9cff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-159.woff2) format('woff2');
  unicode-range: U+9d00-9d7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-160.woff2) format('woff2');
  unicode-range: U+9d80-9dff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-161.woff2) format('woff2');
  unicode-range: U+9e00-9e7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-162.woff2) format('woff2');
  unicode-range: U+9e80-9eff;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-163.woff2) format('woff2');
  unicode-range: U+9f00-9f7f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-164.woff2) format('woff2');
  unicode-range: U+9f80-9fd0;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Compatibility-Ideographs-1.woff2) format('woff2');
  unicode-range: U+f900-f959, U+f95b-f980;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Compatibility-Ideographs-2.woff2) format('woff2');
  unicode-range: U+f981-f9f2, U+f9f4-fa01;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Compatibility-Ideographs-3.woff2) format('woff2');
  unicode-range: U+fa02-fa0b, U+fa0e-fa6d;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Alphabetic-Presentation-Forms.woff2) format('woff2');
  unicode-range: U+fb00-fb04;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Vertical-Forms.woff2) format('woff2');
  unicode-range: U+fe10-fe19;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Compatibility-Forms.woff2) format('woff2');
  unicode-range: U+fe30-fe4f;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Small-Form-Variants.woff2) format('woff2');
  unicode-range: U+fe50-fe52, U+fe54-fe66, U+fe68-fe6b;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Halfwidth-and-Fullwidth-Forms-1.woff2) format('woff2');
  unicode-range: U+ff01-ff80;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Halfwidth-and-Fullwidth-Forms-2.woff2) format('woff2');
  unicode-range: U+ff81-ff9f, U+ffe0-ffe6, U+ffe9-ffee;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Enclosed-Alphanumeric-Supplement-1.woff2) format('woff2');
  unicode-range: U+1f100-1f10a, U+1f110-1f12e, U+1f130-1f16b, U+1f170-1f189;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Enclosed-Alphanumeric-Supplement-2.woff2) format('woff2');
  unicode-range: U+1f18a-1f19a;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.Enclosed-Ideographic-Supplement.woff2) format('woff2');
  unicode-range: U+1f200-1f202, U+1f210-1f23a, U+1f240-1f248, U+1f250-1f251;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-Extension-B-1.woff2) format('woff2');
  unicode-range: U+2000b, U+20089-2008a, U+200a2, U+200a4, U+200b0, U+200f5, U+20158, U+201a2, U+20213, U+2028e, U+2032b, U+20371, U+20381, U+203b7, U+203f9, U+2044a, U+20509, U+2053f, U+20546, U+20584, U+205b1, U+205d6, U+205fb, U+20611, U+20628, U+206ec, U+2074f, U+207a9, U+207ad, U+207c8, U+20803, U+20807, U+2081d, U+2083a, U+20895, U+208b9, U+2090e, U+2097c, U+20984, U+2099d, U+20a64, U+20ad3, U+20b1d, U+20b9f, U+20bb7, U+20bd7, U+20cbf, U+20d45, U+20d58, U+20de1, U+20e64, U+20e6d, U+20e95, U+20f5f, U+21201, U+2123d, U+21255, U+21274, U+2127b, U+212d7, U+212e4, U+212fd, U+2131b, U+21336, U+21344, U+213c4, U+2146d-2146e, U+215d7, U+21647, U+216b4, U+21706, U+21742, U+218bd, U+219c3, U+21a1a, U+21c56, U+21cde, U+21d2d, U+21d45, U+21d62, U+21d78, U+21d92, U+21d9c, U+21da1, U+21db7, U+21de0, U+21e33-21e34, U+21f1e, U+21f76, U+21ffa, U+2217b, U+22218, U+2231e, U+22399, U+223ad, U+22609, U+226f3, U+2285b, U+228ab, U+2298f, U+22ab1, U+22ab8, U+22b46, U+22b4f-22b50, U+22ba6, U+22bed, U+22bfe, U+22c1d, U+22c24, U+22c64, U+22cb4, U+22cb8, U+22cea, U+22d80, U+22de1, U+22e42, U+22f0c, U+22f1b, U+22feb, U+23073, U+231b6, U+231c3-231c4, U+231f5;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-Extension-B-2.woff2) format('woff2');
  unicode-range: U+23372, U+233cc, U+233d0, U+233d2-233d3, U+233d5, U+233da, U+233df, U+233e4, U+233fe, U+2344a-2344b, U+23451, U+23465, U+234e4, U+2355a, U+23594, U+235c4, U+23638-2363a, U+23647, U+2370c, U+2371c, U+2373f, U+23763-23764, U+237e7, U+237f1, U+237ff, U+23824, U+2383d, U+23a98, U+23b88, U+23c7f, U+23ca9, U+23cbe, U+23cfe, U+23d00, U+23d0e, U+23d40, U+23dd3, U+23df9-23dfa, U+23f0e, U+23f7e, U+2404b, U+24096, U+24103, U+241c6, U+241fe, U+242b6, U+242ee, U+24352, U+243bc, U+243d0, U+24419, U+24430, U+24605, U+24629, U+246a5, U+2479a, U+247f1, U+24896, U+248e9, U+24a4d, U+24b56, U+24b6f, U+24c16, U+24c8d, U+24d14, U+24d83, U+24e01, U+24e04, U+24e0e, U+24e31, U+24e37, U+24e6a, U+24e85, U+24e8b, U+24eaa, U+24ff2, U+2504a, U+25055, U+25122, U+251a9, U+251cd, U+251e5, U+2521e, U+2524c, U+2531a, U+25349, U+2542e, U+25435, U+2548e, U+254d9, U+2550e, U+255a7, U+2567f, U+25771, U+257a9, U+257b4, U+25874, U+259c4, U+259cc, U+259d4, U+25ad7, U+25ae3-25ae4, U+25af1, U+25bb2, U+25bdf, U+25be5, U+25c14, U+25c4b, U+25c64, U+25d0a, U+25da1, U+25e2e, U+25e56, U+25e62, U+25e65, U+25e86, U+25ec2, U+25ed8, U+25ee8, U+25f23, U+25f5c;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-Extension-B-3.woff2) format('woff2');
  unicode-range: U+25fd4, U+25fe0, U+25ffb, U+2600c, U+26017, U+26060, U+260ed, U+26222, U+2624e, U+2626a, U+26270, U+26286, U+26293, U+2634c, U+26402, U+2667e, U+266b0, U+26706, U+2671d, U+267ea, U+268dd, U+268ea, U+26951, U+2696f, U+26999, U+269dd, U+26a1e, U+26a58, U+26a8c, U+26ab7, U+26aff, U+26c29, U+26c73, U+26c9e, U+26cdd, U+26e40, U+26e65, U+26f94, U+26ff6-26ff8, U+270f4, U+2710d, U+27139, U+2725f, U+27304, U+273da-273db, U+273fe, U+27410, U+27449, U+27614-27615, U+27631, U+27684, U+27693, U+2770e, U+27723, U+27752, U+278b2, U+27985, U+279b4, U+27a63, U+27a84, U+27b99, U+27bb3, U+27bbe, U+27bc7, U+27c3c, U+27cb8, U+27d73, U+27da0, U+27e10, U+27ef4, U+27fb7, U+27fec, U+27ff3, U+2808a, U+280bb, U+280bf, U+280f0, U+28154, U+28277, U+28282, U+282f3, U+283cd, U+2840c, U+28455, U+28487, U+2856b, U+285c8-285c9, U+286d7, U+286fa, U+28891, U+28946, U+28949, U+2896b, U+28987-28988, U+289ba-289bb, U+28a1e, U+28a29, U+28a43, U+28a71, U+28a99, U+28acd, U+28add, U+28ae4, U+28bc1, U+28bef, U+28cdd, U+28d10, U+28d71, U+28dfb, U+28e0f, U+28e17, U+28e1f, U+28e36, U+28e89, U+28eeb, U+28ef6, U+28f32, U+28ff8, U+292a0, U+292b1, U+2947e;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-Extension-B-4.woff2) format('woff2');
  unicode-range: U+29490, U+295cf, U+2967f, U+296a8, U+296e9, U+296f0, U+29704, U+29719, U+29730, U+29750, U+29810, U+298c6, U+29a72, U+29d4b, U+29d71, U+29ddb, U+29e15, U+29e19, U+29e36, U+29e3d, U+29e49, U+29e8a, U+29ec4, U+29edb, U+29ee9, U+29f27, U+29fce, U+29fd7, U+2a01a, U+2a02f, U+2a04e, U+2a082, U+2a0f9, U+2a190, U+2a2b2, U+2a38c, U+2a41e, U+2a437, U+2a590, U+2a5f1, U+2a602, U+2a612, U+2a61a, U+2a6b2;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-Extension-C.woff2) format('woff2');
  unicode-range: U+2a736, U+2a9e6, U+2ae5a;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-Extension-D.woff2) format('woff2');
  unicode-range: U+2b746, U+2b74f, U+2b751, U+2b753, U+2b758, U+2b75a-2b75c, U+2b765, U+2b776-2b777, U+2b77a-2b77c, U+2b782, U+2b789, U+2b78b, U+2b78e, U+2b794, U+2b7ac, U+2b7af, U+2b7bc-2b7bd, U+2b7c2, U+2b7c9, U+2b7cf, U+2b7d2, U+2b7d8, U+2b7e7, U+2b7f0, U+2b80d, U+2b817, U+2b81a-2b81b;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Unified-Ideographs-Extension-E.woff2) format('woff2');
  unicode-range: U+2b8c6, U+2c816, U+2c9b0;
}

@font-face {
  font-family: "JiangChengYuanTi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jcyt400.CJK-Compatibility-Ideographs-Supplement.woff2) format('woff2');
  unicode-range: U+2f804, U+2f80f, U+2f815, U+2f818, U+2f81a, U+2f822, U+2f828, U+2f82c, U+2f833, U+2f83f, U+2f846, U+2f852, U+2f862, U+2f86d, U+2f873, U+2f877, U+2f884, U+2f899-2f89a, U+2f8a6, U+2f8ac, U+2f8b2, U+2f8b6, U+2f8d3, U+2f8db-2f8dc, U+2f8e1, U+2f8e5, U+2f8ea, U+2f8ed, U+2f8fc, U+2f903, U+2f90b, U+2f90f, U+2f91a, U+2f920-2f921, U+2f945, U+2f947, U+2f96c, U+2f995, U+2f9d0, U+2f9de-2f9df, U+2f9f4;
}
