/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 */

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.Basic-Latin.woff2) format('woff2');
  unicode-range: U+28-29, U+2b, U+2d, U+30-31, U+3d, U+5e, U+65, U+69;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.Greek-and-Coptic.woff2) format('woff2');
  unicode-range: U+3c0;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.CJK-Symbols-and-Punctuation.woff2) format('woff2');
  unicode-range: U+3001-3002;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.CJK-Unified-Ideographs-1.woff2) format('woff2');
  unicode-range: U+4e00, U+4e07, U+4e09-4e0b, U+4e0d-4e0e, U+4e16, U+4e24-4e25, U+4e2a, U+4e2d, U+4e3a, U+4e3e, U+4e48, U+4e4b, U+4e53, U+4e58, U+4e5f, U+4e86, U+4e8b-4e8c, U+4e8e, U+4e91-4e92, U+4e9b, U+4ea1, U+4ea4, U+4eae, U+4eba, U+4ec0, U+4ece, U+4ed6, U+4ed8, U+4ee3, U+4ee5, U+4eec, U+4ef7, U+4eff, U+4f11, U+4f1a, U+4f1f, U+4f24, U+4f46, U+4f4f, U+4f55, U+4f59, U+4f5b, U+4f60, U+4f7f, U+4fa7, U+4fb5, U+5012, U+5018, U+501f, U+503e, U+504c, U+50cf, U+5149, U+514d, U+5165, U+5168, U+5170, U+5185;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.CJK-Unified-Ideographs-2.woff2) format('woff2');
  unicode-range: U+518d, U+51a5, U+51b5, U+51fa, U+5200, U+5207, U+520e, U+5219, U+522b, U+5230, U+524d, U+5267, U+529b, U+52a8, U+52aa-52ab, U+5305, U+5315-5316, U+5343, U+534e, U+5373-5374, U+53bb, U+53c8, U+53ca, U+53cc, U+53d6-53d8, U+53e0, U+53ea-53eb, U+53ef-53f0, U+53f3, U+5408, U+540d-540e, U+5411, U+5413, U+541b, U+547c-547d, U+54cd, U+54ed, U+552f, U+5618, U+5668, U+56db, U+56de, U+56f0, U+571f, U+5728, U+5730, U+573a, U+574f-5750, U+575a, U+5782, U+57cb, U+57fa, U+5802, U+584c;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.CJK-Unified-Ideographs-3.woff2) format('woff2');
  unicode-range: U+5854, U+5883, U+58ee, U+58f0, U+5904, U+590d, U+591c, U+5927, U+5929-592a, U+5931, U+593a, U+594b, U+5982, U+5a11, U+5a46, U+5a6a, U+5b50, U+5b57-5b58, U+5b83, U+5b89, U+5b9a, U+5b9e, U+5bab, U+5bc2, U+5bf9, U+5bfb, U+5c06, U+5c1d, U+5c31, U+5c3a, U+5c40, U+5c42, U+5c82, U+5cb8, U+5de6, U+5df1-5df2, U+5e03, U+5e55, U+5e73-5e74, U+5e76, U+5e7b, U+5e84, U+5e99, U+5ef6, U+5f00, U+5f20, U+5f62, U+5f69, U+5f71, U+5f7c, U+5f80, U+5f97, U+5fc3, U+5fcd, U+6015, U+601d, U+6068, U+60c5, U+60d1, U+60e7;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.CJK-Unified-Ideographs-4.woff2) format('woff2');
  unicode-range: U+60f3, U+6108, U+618e, U+6208, U+6211, U+6216, U+6218, U+6240, U+6247, U+624b, U+624d, U+6253-6254, U+6263, U+6269, U+626d, U+6273, U+627e, U+628a, U+6293, U+629a, U+62a5, U+62c2, U+62c9, U+62e9, U+62ec, U+62fe, U+6307, U+631e, U+6355, U+635f, U+6362, U+6389, U+63a5, U+63e1, U+6478, U+64cd, U+653b, U+6559, U+6562-6563, U+656c, U+65b9, U+65c1, U+65cb, U+65e0, U+65e5, U+65f6, U+6614, U+661f, U+662f, U+663e, U+6653, U+666f, U+6697, U+66f4, U+66fe-66ff, U+6708-6709, U+671b, U+672a, U+672c, U+673a;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.CJK-Unified-Ideographs-5.woff2) format('woff2');
  unicode-range: U+673d, U+6765, U+679c, U+67aa, U+67c4, U+67d0, U+67f1, U+6807, U+6837, U+6839, U+68b0, U+697c, U+6a58, U+6b22, U+6b63-6b64, U+6b7b, U+6bb5, U+6bbf, U+6bc1, U+6bd2, U+6bd4, U+6c14, U+6c34, U+6c42, U+6c89, U+6c8c, U+6c99, U+6ca1, U+6cbb, U+6ce3, U+6d0b, U+6d53, U+6d69, U+6d77, U+6d88, U+6d8c, U+6d9b, U+6daf, U+6dc6, U+6df7, U+6df9, U+6e05, U+6e10, U+6ea2, U+6ee1, U+706d, U+706f, U+70b9, U+70bd, U+70df, U+70ed, U+7136, U+715e, U+7167, U+7231, U+7247, U+7269, U+72b6, U+72f1, U+73af-73b0, U+7403, U+7470;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.CJK-Unified-Ideographs-6.woff2) format('woff2');
  unicode-range: U+7480, U+74a8, U+751a, U+751f, U+7531, U+754f, U+7559, U+756a, U+7591, U+75d5, U+75db, U+767d, U+7684, U+76d6, U+76f4, U+76f8, U+7720, U+7740, U+7761, U+77bb, U+77ed, U+77f3, U+79bb, U+7a7a, U+7ad9, U+7b11, U+7b2c, U+7bad, U+7c89, U+7d22, U+7e41, U+7ec8, U+7ecf, U+7ed9, U+7f08, U+7f25, U+7f57, U+7f8e, U+800c, U+8033, U+8038, U+8089, U+80fd, U+8131, U+8138, U+8179, U+81ea, U+81f3, U+821e, U+8272, U+82df, U+82e6, U+83ab, U+8584, U+85cf, U+865a, U+8680, U+8868, U+8870, U+88ab, U+8981, U+8986, U+89c1-89c2;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.CJK-Unified-Ideographs-7.woff2) format('woff2');
  unicode-range: U+89e3, U+8ba5, U+8bc4, U+8bd5, U+8be5, U+8bf2, U+8bf4, U+8bf7, U+8c1f, U+8c22, U+8d2a, U+8d62, U+8d70, U+8d77, U+8e0c, U+8e87, U+8eab, U+8f6c, U+8f6e, U+8fb0, U+8fb9, U+8fc7, U+8fd0, U+8fd8-8fd9, U+8fdb, U+8fde, U+8ffd, U+9006, U+9009, U+9010, U+9053, U+906e, U+90fd, U+916c, U+91cc-91cd, U+94dc, U+957f, U+95e8, U+95ee, U+95f4, U+9601, U+9633, U+9646, U+964d, U+9662, U+96be, U+9759, U+975e, U+9762, U+97ad, U+987e, U+9898, U+98de, U+9970, U+9996, U+9a70, U+9a8c, U+9ad8, U+9b3c, U+9b54, U+9c7c, U+9ed1;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.CJK-Unified-Ideographs-8.woff2) format('woff2');
  unicode-range: U+9ed8, U+9f50;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.Private-Use-Area.woff2) format('woff2');
  unicode-range: U+e009, U+e17e, U+e192, U+e232-e233, U+e367, U+e401, U+e513;
}

@font-face {
  font-family: 'Huiwen-mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hwmc-undyne-bishop.Halfwidth-and-Fullwidth-Forms.woff2) format('woff2');
  unicode-range: U+ff01, U+ff08-ff09, U+ff0c, U+ff1a-ff1b, U+ff1f;
}