/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 */

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Basic-Latin-1.woff2) format('woff2');
  unicode-range: U+1-7, U+a-c, U+e-53;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Basic-Latin-2.woff2) format('woff2');
  unicode-range: U+54-7e;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Latin-1-Supplement-1.woff2) format('woff2');
  unicode-range: U+a0-ef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Latin-1-Supplement-2.woff2) format('woff2');
  unicode-range: U+f0-ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Latin-Extended-A.woff2) format('woff2');
  unicode-range: U+100-103, U+110-115, U+11a-11b, U+128-12d, U+143-144, U+147-148, U+14c-153, U+168-16d, U+170-171;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Latin-Extended-B.woff2) format('woff2');
  unicode-range: U+192, U+197, U+1a0-1a1, U+1af-1b0, U+1cd-1dc, U+1f8-1f9, U+244;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.IPA-Extensions.woff2) format('woff2');
  unicode-range: U+251, U+261, U+268, U+289;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Spacing-Modifier-Letters.woff2) format('woff2');
  unicode-range: U+2c6-2c7, U+2c9-2cb, U+2d9, U+2ea-2eb;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Combining-Diacritical-Marks.woff2) format('woff2');
  unicode-range: U+300-302, U+304, U+306, U+30b-30d, U+358;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Greek-and-Coptic.woff2) format('woff2');
  unicode-range: U+391-3a1, U+3a3-3a9, U+3b1-3c1, U+3c3-3c9;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Cyrillic.woff2) format('woff2');
  unicode-range: U+401, U+410-44f, U+451;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Latin-Extended-Additional-1.woff2) format('woff2');
  unicode-range: U+1e3e-1e3f, U+1e5e-1e5f, U+1ea0-1eeb;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Latin-Extended-Additional-2.woff2) format('woff2');
  unicode-range: U+1eec-1ef9;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.General-Punctuation.woff2) format('woff2');
  unicode-range: U+2003, U+2010-2016, U+2018-201a, U+201c-201e, U+2020-2022, U+2025-2027, U+2030, U+2032-2033, U+2035, U+2039-203c, U+2042, U+2047-2049, U+2051;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Superscripts-and-Subscripts.woff2) format('woff2');
  unicode-range: U+207a, U+207f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Currency-Symbols.woff2) format('woff2');
  unicode-range: U+20a9, U+20ac;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Combining-Diacritical-Marks-for-Symbols.woff2) format('woff2');
  unicode-range: U+20dd-20de;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Letterlike-Symbols.woff2) format('woff2');
  unicode-range: U+2100, U+2103, U+2105, U+2109-210a, U+210f, U+2113, U+2116, U+2121-2122, U+2126-2127, U+212b, U+212e, U+2135, U+213b;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Number-Forms.woff2) format('woff2');
  unicode-range: U+2160-216b, U+2170-217b;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Arrows.woff2) format('woff2');
  unicode-range: U+2190-2199, U+21b8-21b9, U+21c4-21c6, U+21cb-21cc, U+21d0, U+21d2, U+21d4, U+21e6-21e9, U+21f5;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Mathematical-Operators.woff2) format('woff2');
  unicode-range: U+2200, U+2202-2203, U+2205-220b, U+220f, U+2211-2213, U+2215, U+221a, U+221d-2220, U+2223, U+2225-222e, U+2234-2237, U+223d, U+2243, U+2245, U+2248, U+224c, U+2252, U+2260-2262, U+2264-2267, U+226a-226b, U+226e-226f, U+2272-2273, U+2276-2277, U+2282-2287, U+228a-228b, U+2295-2299, U+22a0, U+22a5, U+22bf, U+22da-22db, U+22ef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Miscellaneous-Technical.woff2) format('woff2');
  unicode-range: U+2305-2307, U+2312, U+2318, U+2329-232a, U+23b0-23b1, U+23be-23cc, U+23ce, U+23da-23db;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Control-Pictures.woff2) format('woff2');
  unicode-range: U+2423;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Enclosed-Alphanumerics-1.woff2) format('woff2');
  unicode-range: U+2460-24af;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Enclosed-Alphanumerics-2.woff2) format('woff2');
  unicode-range: U+24b0-24ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Box-Drawing-1.woff2) format('woff2');
  unicode-range: U+2500-254f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Box-Drawing-2.woff2) format('woff2');
  unicode-range: U+2550-257f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Block-Elements.woff2) format('woff2');
  unicode-range: U+2580-259f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Geometric-Shapes.woff2) format('woff2');
  unicode-range: U+25a0-25ab, U+25b1-25b3, U+25b6-25b7, U+25bc-25bd, U+25c0-25c1, U+25c6-25cc, U+25ce-25d3, U+25e2-25e6, U+25ef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Miscellaneous-Symbols.woff2) format('woff2');
  unicode-range: U+2600-2603, U+2605-2606, U+2609, U+260e-260f, U+2616-2617, U+261c-261f, U+262f, U+2640-2642, U+2660-266f, U+2672-267d, U+26a0, U+26bd-26be;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Dingbats.woff2) format('woff2');
  unicode-range: U+2702, U+2713, U+271a, U+273d, U+273f-2740, U+2756, U+2776-277f, U+27a1;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Supplemental-Arrows-B.woff2) format('woff2');
  unicode-range: U+2934-2935;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Miscellaneous-Mathematical-Symbols-B.woff2) format('woff2');
  unicode-range: U+29bf, U+29fa-29fb;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Miscellaneous-Symbols-and-Arrows.woff2) format('woff2');
  unicode-range: U+2b05-2b07, U+2b1a;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Supplemental-Punctuation.woff2) format('woff2');
  unicode-range: U+2e3a;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Radicals-Supplement-1.woff2) format('woff2');
  unicode-range: U+2e80-2e99, U+2e9b-2ed0;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Radicals-Supplement-2.woff2) format('woff2');
  unicode-range: U+2ed1-2ef3;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Ideographic-Description-Characters.woff2) format('woff2');
  unicode-range: U+2ff0-2ffb;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Symbols-and-Punctuation.woff2) format('woff2');
  unicode-range: U+3000-303f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Hiragana-1.woff2) format('woff2');
  unicode-range: U+3041-3090;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Hiragana-2.woff2) format('woff2');
  unicode-range: U+3091-3096, U+3099-309f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Katakana-1.woff2) format('woff2');
  unicode-range: U+30a0-30ef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Katakana-2.woff2) format('woff2');
  unicode-range: U+30f0-30ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Bopomofo.woff2) format('woff2');
  unicode-range: U+3105-3126, U+3128-312d, U+312f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Kanbun.woff2) format('woff2');
  unicode-range: U+3190-319f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Bopomofo-Extended.woff2) format('woff2');
  unicode-range: U+31a0-31bb;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Strokes.woff2) format('woff2');
  unicode-range: U+31c0-31e3;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Katakana-Phonetic-Extensions.woff2) format('woff2');
  unicode-range: U+31f0-31ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Enclosed-CJK-Letters-and-Months-1.woff2) format('woff2');
  unicode-range: U+3220-3247, U+3250-325f, U+327f-3296;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Enclosed-CJK-Letters-and-Months-2.woff2) format('woff2');
  unicode-range: U+3297-32bf, U+32cc-32f2;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.Enclosed-CJK-Letters-and-Months-3.woff2) format('woff2');
  unicode-range: U+32f3-32ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Compatibility-1.woff2) format('woff2');
  unicode-range: U+3300-332b, U+332d-3350;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Compatibility-2.woff2) format('woff2');
  unicode-range: U+3351-3357, U+3371-33b9;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Compatibility-3.woff2) format('woff2');
  unicode-range: U+33ba-33df, U+33ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-Extension-A-1.woff2) format('woff2');
  unicode-range: U+3402, U+3405-3406, U+3427, U+342c, U+342e, U+3468, U+346a, U+3488, U+3492, U+34b5, U+34bc, U+34c1, U+34c7, U+34db, U+351f, U+353e, U+355d-355e, U+3563, U+356e, U+35a6, U+35a8, U+35c5, U+35da, U+35de, U+35f4, U+3605, U+3614, U+364a, U+3691, U+3696, U+3699, U+36cf, U+3761-3762, U+376b-376c, U+3775, U+378d, U+37c1, U+37e2, U+37e8, U+37f4, U+37fd, U+3800, U+382f, U+3836, U+3840, U+385c, U+3861, U+38a1, U+38ad, U+38fa, U+3917, U+391a, U+396f, U+39a4, U+39b8, U+3a5c, U+3a6e, U+3a73, U+3a85, U+3ac4, U+3acb, U+3ad6-3ad7, U+3aea, U+3af3, U+3b0e, U+3b1a, U+3b1c, U+3b22, U+3b6d, U+3b77, U+3b87-3b88, U+3b8d, U+3ba4, U+3bb6;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-Extension-A-2.woff2) format('woff2');
  unicode-range: U+3bc3, U+3bcd, U+3bf0, U+3bf3, U+3c0f, U+3c26, U+3cc3, U+3cd2, U+3d11, U+3d1e, U+3d31, U+3d4e, U+3d64, U+3d9a, U+3dc0, U+3dcc, U+3dd4, U+3e05, U+3e3f-3e40, U+3e60, U+3e66, U+3e68, U+3e83, U+3e8a, U+3e94, U+3eda, U+3f57, U+3f72, U+3f75, U+3f77, U+3fae, U+3fb1, U+3fc9, U+3fd7, U+3fdc, U+4039, U+4058, U+4093, U+4103, U+4105, U+4148, U+414f, U+4163, U+41b4, U+41bf, U+41e6, U+41ee, U+41f3, U+4207, U+420e, U+4264, U+4293, U+42c6, U+42d6, U+42dd, U+4302, U+432b, U+4343, U+43ee, U+43f0, U+4408, U+440c, U+4417, U+441c, U+4422, U+4453, U+445b, U+4476, U+447a, U+4491, U+44b3, U+44be, U+44d4, U+4508, U+450d, U+4525, U+4543, U+457a, U+459d;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-Extension-A-3.woff2) format('woff2');
  unicode-range: U+45b8, U+45be, U+45e5, U+45ea, U+460f-4610, U+4641, U+4665, U+46a1, U+46ae-46af, U+470c, U+471f, U+4764, U+47e6, U+47fd, U+4816, U+481e, U+4844, U+484e, U+48b5, U+49b0, U+49e7, U+49fa, U+4a04, U+4a29, U+4abc, U+4b38, U+4b3b, U+4b7e, U+4bc2, U+4bca, U+4bd2, U+4be8, U+4c17, U+4c20, U+4c38, U+4cc4, U+4cd1, U+4ce1, U+4d07, U+4d77;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-001.woff2) format('woff2');
  unicode-range: U+4e00-4e4f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-002.woff2) format('woff2');
  unicode-range: U+4e50-4e9f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-003.woff2) format('woff2');
  unicode-range: U+4ea0-4eef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-004.woff2) format('woff2');
  unicode-range: U+4ef0-4f3f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-005.woff2) format('woff2');
  unicode-range: U+4f40-4f8f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-006.woff2) format('woff2');
  unicode-range: U+4f90-4fdf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-007.woff2) format('woff2');
  unicode-range: U+4fe0-502f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-008.woff2) format('woff2');
  unicode-range: U+5030-507f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-009.woff2) format('woff2');
  unicode-range: U+5080-50cf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-010.woff2) format('woff2');
  unicode-range: U+50d0-511f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-011.woff2) format('woff2');
  unicode-range: U+5120-516f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-012.woff2) format('woff2');
  unicode-range: U+5170-51bf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-013.woff2) format('woff2');
  unicode-range: U+51c0-520f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-014.woff2) format('woff2');
  unicode-range: U+5210-525f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-015.woff2) format('woff2');
  unicode-range: U+5260-52af;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-016.woff2) format('woff2');
  unicode-range: U+52b0-52ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-017.woff2) format('woff2');
  unicode-range: U+5300-534f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-018.woff2) format('woff2');
  unicode-range: U+5350-539f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-019.woff2) format('woff2');
  unicode-range: U+53a0-53ef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-020.woff2) format('woff2');
  unicode-range: U+53f0-543f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-021.woff2) format('woff2');
  unicode-range: U+5440-548f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-022.woff2) format('woff2');
  unicode-range: U+5490-54df;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-023.woff2) format('woff2');
  unicode-range: U+54e0-552f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-024.woff2) format('woff2');
  unicode-range: U+5530-557f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-025.woff2) format('woff2');
  unicode-range: U+5580-55cf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-026.woff2) format('woff2');
  unicode-range: U+55d0-561f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-027.woff2) format('woff2');
  unicode-range: U+5620-566f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-028.woff2) format('woff2');
  unicode-range: U+5670-56bf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-029.woff2) format('woff2');
  unicode-range: U+56c0-570f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-030.woff2) format('woff2');
  unicode-range: U+5710-575f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-031.woff2) format('woff2');
  unicode-range: U+5760-57af;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-032.woff2) format('woff2');
  unicode-range: U+57b0-57ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-033.woff2) format('woff2');
  unicode-range: U+5800-584f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-034.woff2) format('woff2');
  unicode-range: U+5850-589f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-035.woff2) format('woff2');
  unicode-range: U+58a0-58ef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-036.woff2) format('woff2');
  unicode-range: U+58f0-593f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-037.woff2) format('woff2');
  unicode-range: U+5940-598f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-038.woff2) format('woff2');
  unicode-range: U+5990-59df;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-039.woff2) format('woff2');
  unicode-range: U+59e0-5a2f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-040.woff2) format('woff2');
  unicode-range: U+5a30-5a7f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-041.woff2) format('woff2');
  unicode-range: U+5a80-5acf;
}