@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-042.woff2) format('woff2');
  unicode-range: U+5ad0-5b1f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-043.woff2) format('woff2');
  unicode-range: U+5b20-5b6f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-044.woff2) format('woff2');
  unicode-range: U+5b70-5bbf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-045.woff2) format('woff2');
  unicode-range: U+5bc0-5c0f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-046.woff2) format('woff2');
  unicode-range: U+5c10-5c5f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-047.woff2) format('woff2');
  unicode-range: U+5c60-5caf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-048.woff2) format('woff2');
  unicode-range: U+5cb0-5cff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-049.woff2) format('woff2');
  unicode-range: U+5d00-5d4f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-050.woff2) format('woff2');
  unicode-range: U+5d50-5d9f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-051.woff2) format('woff2');
  unicode-range: U+5da0-5def;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-052.woff2) format('woff2');
  unicode-range: U+5df0-5e3f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-053.woff2) format('woff2');
  unicode-range: U+5e40-5e8f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-054.woff2) format('woff2');
  unicode-range: U+5e90-5edf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-055.woff2) format('woff2');
  unicode-range: U+5ee0-5f2f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-056.woff2) format('woff2');
  unicode-range: U+5f30-5f7f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-057.woff2) format('woff2');
  unicode-range: U+5f80-5fcf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-058.woff2) format('woff2');
  unicode-range: U+5fd0-601f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-059.woff2) format('woff2');
  unicode-range: U+6020-606f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-060.woff2) format('woff2');
  unicode-range: U+6070-60bf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-061.woff2) format('woff2');
  unicode-range: U+60c0-610f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-062.woff2) format('woff2');
  unicode-range: U+6110-615f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-063.woff2) format('woff2');
  unicode-range: U+6160-61af;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-064.woff2) format('woff2');
  unicode-range: U+61b0-61ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-065.woff2) format('woff2');
  unicode-range: U+6200-624f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-066.woff2) format('woff2');
  unicode-range: U+6250-629f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-067.woff2) format('woff2');
  unicode-range: U+62a0-62ef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-068.woff2) format('woff2');
  unicode-range: U+62f0-633f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-069.woff2) format('woff2');
  unicode-range: U+6340-638f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-070.woff2) format('woff2');
  unicode-range: U+6390-63df;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-071.woff2) format('woff2');
  unicode-range: U+63e0-642f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-072.woff2) format('woff2');
  unicode-range: U+6430-647f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-073.woff2) format('woff2');
  unicode-range: U+6480-64cf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-074.woff2) format('woff2');
  unicode-range: U+64d0-651f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-075.woff2) format('woff2');
  unicode-range: U+6520-656f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-076.woff2) format('woff2');
  unicode-range: U+6570-65bf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-077.woff2) format('woff2');
  unicode-range: U+65c0-660f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-078.woff2) format('woff2');
  unicode-range: U+6610-665f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-079.woff2) format('woff2');
  unicode-range: U+6660-66af;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-080.woff2) format('woff2');
  unicode-range: U+66b0-66ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-081.woff2) format('woff2');
  unicode-range: U+6700-674f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-082.woff2) format('woff2');
  unicode-range: U+6750-679f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-083.woff2) format('woff2');
  unicode-range: U+67a0-67ef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-084.woff2) format('woff2');
  unicode-range: U+67f0-683f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-085.woff2) format('woff2');
  unicode-range: U+6840-688f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-086.woff2) format('woff2');
  unicode-range: U+6890-68df;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-087.woff2) format('woff2');
  unicode-range: U+68e0-692f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-088.woff2) format('woff2');
  unicode-range: U+6930-697f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-089.woff2) format('woff2');
  unicode-range: U+6980-69cf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-090.woff2) format('woff2');
  unicode-range: U+69d0-6a1f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-091.woff2) format('woff2');
  unicode-range: U+6a20-6a6f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-092.woff2) format('woff2');
  unicode-range: U+6a70-6abf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-093.woff2) format('woff2');
  unicode-range: U+6ac0-6b0f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-094.woff2) format('woff2');
  unicode-range: U+6b10-6b5f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-095.woff2) format('woff2');
  unicode-range: U+6b60-6baf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-096.woff2) format('woff2');
  unicode-range: U+6bb0-6bff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-097.woff2) format('woff2');
  unicode-range: U+6c00-6c4f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-098.woff2) format('woff2');
  unicode-range: U+6c50-6c9f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-099.woff2) format('woff2');
  unicode-range: U+6ca0-6cef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-100.woff2) format('woff2');
  unicode-range: U+6cf0-6d3f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-101.woff2) format('woff2');
  unicode-range: U+6d40-6d8f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-102.woff2) format('woff2');
  unicode-range: U+6d90-6ddf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-103.woff2) format('woff2');
  unicode-range: U+6de0-6e2f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-104.woff2) format('woff2');
  unicode-range: U+6e30-6e7f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-105.woff2) format('woff2');
  unicode-range: U+6e80-6ecf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-106.woff2) format('woff2');
  unicode-range: U+6ed0-6f1f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-107.woff2) format('woff2');
  unicode-range: U+6f20-6f6f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-108.woff2) format('woff2');
  unicode-range: U+6f70-6fbf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-109.woff2) format('woff2');
  unicode-range: U+6fc0-700f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-110.woff2) format('woff2');
  unicode-range: U+7010-705f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-111.woff2) format('woff2');
  unicode-range: U+7060-70af;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-112.woff2) format('woff2');
  unicode-range: U+70b0-70ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-113.woff2) format('woff2');
  unicode-range: U+7100-714f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-114.woff2) format('woff2');
  unicode-range: U+7150-719f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-115.woff2) format('woff2');
  unicode-range: U+71a0-71ef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-116.woff2) format('woff2');
  unicode-range: U+71f0-723f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-117.woff2) format('woff2');
  unicode-range: U+7240-728f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-118.woff2) format('woff2');
  unicode-range: U+7290-72df;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-119.woff2) format('woff2');
  unicode-range: U+72e0-732f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-120.woff2) format('woff2');
  unicode-range: U+7330-737f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-121.woff2) format('woff2');
  unicode-range: U+7380-73cf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-122.woff2) format('woff2');
  unicode-range: U+73d0-741f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-123.woff2) format('woff2');
  unicode-range: U+7420-746f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-124.woff2) format('woff2');
  unicode-range: U+7470-74bf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-125.woff2) format('woff2');
  unicode-range: U+74c0-750f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-126.woff2) format('woff2');
  unicode-range: U+7510-755f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-127.woff2) format('woff2');
  unicode-range: U+7560-75af;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-128.woff2) format('woff2');
  unicode-range: U+75b0-75ff;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-129.woff2) format('woff2');
  unicode-range: U+7600-764f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-130.woff2) format('woff2');
  unicode-range: U+7650-769f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-131.woff2) format('woff2');
  unicode-range: U+76a0-76ef;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-132.woff2) format('woff2');
  unicode-range: U+76f0-773f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-133.woff2) format('woff2');
  unicode-range: U+7740-778f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-134.woff2) format('woff2');
  unicode-range: U+7790-77df;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-135.woff2) format('woff2');
  unicode-range: U+77e0-782f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-136.woff2) format('woff2');
  unicode-range: U+7830-787f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-137.woff2) format('woff2');
  unicode-range: U+7880-78cf;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-138.woff2) format('woff2');
  unicode-range: U+78d0-791f;
}

@font-face {
  font-family: 'JiangChengYuanTi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(jcyt600.CJK-Unified-Ideographs-139.woff2) format('woff2');
  unicode-range: U+7920-7957;
}